[2016-08-14 20:54] TheAnneO opened #1 "THTensorCopy copy error"
I am attempting to run your code, but I am encountering an error when running train.lua.

The only changes I made to the code were commenting out some of the trainHook function in donkey_folder.lua since I did not want my images to be randomly cropped and changing the number of channels to be 1 since all of the images in my data are 128 x 128 grayscale images.

I am running the code on Ubuntu 16.0

[2016-09-14 18:29] pathak22 commented on #1
Could you resolve this error ? Sorry, I noticed this thread today (by chance) and didn't see notification.

Few things to try:
=> Print the size of data and datatable in dataset.lua: line 328
=> What if you set this: nc=1, loadSize=129, fineSize=128 ? Does this work ?

[2016-09-15 07:27] pathak22 commented on #1
On further thinking, I realized that I have not actually supported grayscale version in code. There are some hard-coded channel-wise things, for example: https://github.com/pathak22/context-encoder/blob/master/train.lua#L283-L285

You will have to edit train.lua etc as well for your code to work on grayscale.

[2016-09-17 13:39] Teaonly opened #2 "Why we need reset conv's bias value in every iterator"
[code]

We can see these code in fGx and fDX, I can' understand these code.

The bias value is determined at the last iterator training phase ?

[2016-10-02 08:45] yhlleo opened #3 "Organization of the train and val dataset"
When I want to train my own model with my dataset, there is no explanation about the organization method of the data. I just put images into the folder `dataset/train` and `dataset/val`, but received a error:

[code]

@pathak22

[2016-10-02 15:02] pathak22 commented on #2
@Teaonly
This is so because we are using BatchNorm, so bias of convolution is not needed. It gets handled by BatchNorm, and reseting it makes convergence slightly faster. Hope it answers your question. Thanks !

[2016-10-02 15:02] #2 closed

[2016-10-02 15:04] pathak22 commented on #3
Hi @yhlleo  !

Please look at the documentation provided here: https://github.com/pathak22/context-encoder#2-train-context-encoders

See point # 2, you need to create a folder named 'images' inside dataset/train/images/* and dataset/val/images/* ... and put all your image files inside it.

[2016-10-03 02:20] yhlleo commented on #3
Thank you. It works well.

[2016-10-03 04:08] #3 closed

[2016-10-06 04:40] Teaonly commented on #2
@pathak22

I see.
Thank you!

[2016-10-28 01:29] lingjiantian opened #4 "How to split the netG into two networks?"
I am reproducing your work in "Context Encoders: Feature Learning by Inpainting" and I have trained the networks successfully. However, now I face a problem. I noticed that the netG extracts the features of a picture and then uses the features to fix the missing region of the picture. I am very interested in the features(i.e.,the 4000-unit bottleneck) and I hope to split the netG into two networks

[2016-10-28 12:08] pathak22 commented on #4
The question you are asking is about torch. So you can play with following things:
$ print(netG) -- to see index of modules.
$ netG.modules[2].output  -- it gives the output of 2nd module
$ netG.modules[1].modules[12].output  -- it gives the output of 12th module inside the 1st module (nested)

Please refer to Torch documentation for more details.

[2016-10-28 12:08] #4 closed

[2016-11-06 13:28] myw8 commented on #1
can  you  tell me   where can I  get your   train data images

[2016-11-26 23:21] Eyesonly88 opened #5 "Changing patch location request"
Hello @pathak22 ✋
First of all, thanks for sharing your code and research 👍 . I got the demo and training working on macOSX 10.11.5💃. However, I got stuck when trying to modify the algorithm.

I'm trying to change the code so I can specify the location of the region mask myself instead of choosing either random or center (in the testing phase).
**Can you give me pointers on how to go about doing t

[2016-12-02 18:30] ThibaultGROUEIX opened #6 "Illegal memory access ?"
I am trying to run your demo (ubuntu 16.04, cuda 8) but something goes wrong in the forward pass.
The line "net=models/inpaintCenter/paris_inpaintCenter.t7 name=paris_result imDir=images/paris overlapPred=4 manualSeed=222 batchSize=21 gpu=1 th demo.lua" gives me the following error.
I haven't changed anything in the code. Could it be GPU memory requirements ? (I have 6GB)
Any help would be hugely

[2016-12-06 09:38] ThibaultGROUEIX commented on #6
I tried it on another computer and it worked. must be something wrong with my torch install. I'm closing the thread.

[2016-12-06 09:38] #6 closed

[2016-12-06 09:52] ThibaultGROUEIX commented on #6
I guess i had an outdated version of cunn.
luarocks install cutorch
luarocks install cunn solved it.

[2016-12-17 02:20] xuyifeng-nwpu commented on #5
@Eyesonly88 hi ,I also want this problem. I solved it in grammar ,however the effect was bad.
My method was the modification of train.lua setting the in-painting region to the region assigned by me.
The main  amended code is below:
local real_center = real_ctx[{{},{},{1 + opt.fineSize/4, opt.fineSize/2 + opt.fineSize/4},{1 + opt.fineSize/2, opt.fineSize}}]:clone() -- copy by value
   real_ctx[{{},

[2016-12-17 02:21] xuyifeng-nwpu commented on #5
@Eyesonly88 hi ,I also want this problem. I solved it in grammar ,however the effect was bad.
My method was the modification of train.lua setting the in-painting region to the region assigned by me.
The main  amended code is below:
local real_center = real_ctx[{{},{},{1 + opt.fineSize/4, opt.fineSize/2 + opt.fineSize/4},{1 + opt.fineSize/2, opt.fineSize}}]:clone() -- copy by value
   real_ctx[{{},

[2016-12-17 02:35] xuyifeng-nwpu opened #7 "don't need validation data"
@pathak22
In the readme file, you wrote how to make the dataset folder
"mkdir -p /path_to_wherever_you_want/mydataset/train/images/
# put all training images inside mydataset/train/images/
mkdir -p /path_to_wherever_you_want/mydataset/val/images/
# put all val images inside mydataset/val/images/"

However, i only set the train folder and not set the val folder, the train process go on wheels . Was

[2016-12-17 04:58] Eyesonly88 commented on #5
Hey @xuyifeng-nwpu, oh cool! Thanks for sharing your code.
I started looking at other algorithms (not ML) for inpainting particularly the one used in Photoshop (PatchMatch) => http://stackoverflow.com/questions/2530449/how-does-content-aware-fill-work.

I'm interested to know if your code is updated to get good results. Let's keep in touch 👍
Would also be great if the author can help us out a bit

[2016-12-18 07:37] pathak22 commented on #7
It is not needed to train the model. It is required only if you want to do inpainting using the trained model on val set (see step-4).

[2016-12-18 07:37] #7 closed

[2016-12-25 01:34] xuyifeng-nwpu commented on #5
train.lua
`require 'torch'
require 'nn'
require 'optim'
util = paths.dofile('util.lua')

opt = {
   batchSize = 64,         -- number of samples to produce
   loadSize = 350,         -- resize the loaded image to loadsize maintaining aspect ratio. 0 means don't resize. -1 means scale randomly between [0.5,2] -- see donkey_folder.lua
   fineSize = 128,         -- size of random crops
   nBottleneck

[2016-12-25 01:43] xuyifeng-nwpu opened #8 "Must the inpainting region be quare?"
Setting the inpainting region rectangle  result to error.
Must  the inpainting region be quare?

[2016-12-26 10:52] BoyuanJiang opened #9 "where is the Channel-wise fully-connected layer ?"
Is there a Channel-wise fully-connected layer in the Torch version codes?I don't find where it is.

[2016-12-26 11:30] BoyuanJiang commented on #9
sorry i have known it

[2016-12-26 11:30] #9 closed

[2016-12-30 07:15] sunshineatnoon commented on #9
@BoyuanJiang Hi, could you kindly point the fully-connected layer to me? I can't find it either.

[2017-01-06 13:39] lhaof commented on #1
@myw8 https://github.com/tylin/dpatch use this code to download images from google street view

[2017-01-07 08:10] royal-feng commented on #9
@BoyuanJiang  I want to ask you for whether the Channel-wise fully-connected layer is the nBottleneck in the code? My understanding that is the transition layer between the encoder and decoder, is it right?

[2017-01-08 08:22] royal-feng opened #10 "Where is the Channel-wise fully-connected layer"
I want to ask you for whether the Channel-wise fully-connected layer is the nBottleneck in the code? My understanding that is the transition layer between the encoder and decoder, is it right?How to expression in the Channel-wise fully-connected layer

[2017-01-10 13:58] pathak22 commented on #10
Hi ! The architecture I used in this repository is pretty simple. At the bottleneck, there are 4000 outputs for which if normal fully connected layer is used, it would result into 16M parameters which is usually fine (for e.g. AlexNet has more than that). This is described in Figure-9(a) in paper.

But if we were to use AlexNet until pool5 as generator then using normal FC would lead to about  100

[2017-01-10 13:58] #10 closed

[2017-01-10 14:03] pathak22 commented on #1
Note that currently released code works much better when trained on ImageNet images. For example: see imagenet results on project webpage.

But if you necessarily want to use street-view dataset, you can email me and I will share. Due to license policy issue, it is not allowed to release that dataset publicly.

[2017-01-10 14:03] #1 closed

[2017-04-17 10:13] NerminSalem opened #11 "Train Context Encoders"
hi
i m trying to train the context encoder but i m getting this error after the epoch no.20, i m using cpu mode as my laptop doesn't support CUDA
Epoch: [20][       3 /        3]	 Time: 29.860  DataTime: 0.002    Err_G_L2: 0.0748   Err_G: 1.6929  Err_D: 0.4178
/home/nermin/torch/install/bin/lua: ...me/nermin/torch/install/share/lua/5.1/torch/File.lua:210: write error: wrote 24686288 blocks instead

[2017-04-19 14:11] June01 commented on #5
@xuyifeng-nwpu Thanks for your sharing, that is cool. Actually, the random region inpainting is not that brilliant as center region inpainting. I just have tried another method to deal with the other inpaint region, such as right-mid region R. No matter which region it is, you can just cut the part of the original image, for which  R is the center of it. Then you can use the existing method to inp

[2017-04-19 15:50] xuyifeng-nwpu commented on #5
@June01 Many days ago  I had written some code about   inpainting the region which area is larger than 1/3. I am interesting with this topic that lager region inpainting. But  this weak i should prepare the  EI paper. No later than ten days   i  should communicate with you  through  email.

[2017-04-20 16:12] pathak22 commented on #11
Do you have enough disk-space to save the model ? Your training seems to be running fine, but its giving error when trying to save the model. see train.lua line:451.

[2017-04-20 16:15] NerminSalem commented on #11
Ohhhhh, i got it
Thanks alot for yr help

[2017-04-20 16:15] #11 closed

[2017-04-25 00:39] lynetcha opened #12 "Loss for Inpainting"
Section 3.2 of the paper (Joint Loss) says that adversarial loss only is used for inpainting experiments, but Figure 6 shows results with L2+Adv. Can you please clarify?

[2017-04-25 01:28] lynetcha commented on #12
Nevermind, I got it. L2 only is used for the feature learning.

[2017-04-25 01:28] #12 closed

[2017-04-25 21:38] pathak22 commented on #12
Yes, inpainting uses Joint loss (both): https://github.com/pathak22/context-encoder/blob/master/train.lua#L204-L208

[2017-05-03 04:10] BoyuanJiang opened #13 "where can i get the Paris StreetView datasets?"
I want to train it by myself,but i don't know how to download the datasets.can you give me a link? @pathak22

[2017-05-03 05:37] #13 closed

[2017-05-08 11:41] Kareem-94 opened #14 "how to change the mask location?"
hiii, i m so interested in yr work, i want to be able to make the mask at the top left of the image and be able to in-paint that region successfully, what has to be changed in the training and test code to achieve this
thanks

[2017-05-08 12:20] pathak22 commented on #14
These lines:
https://github.com/pathak22/context-encoder/blob/master/train.lua#L282-L285
https://github.com/pathak22/context-encoder/blob/master/train.lua#L418-L431
https://github.com/pathak22/context-encoder/blob/master/test.lua#L78-L85
https://github.com/pathak22/context-encoder/blob/master/test.lua#L98

[2017-05-08 13:33] Kareem-94 commented on #14
Great! I figured it out already! However i didn't get the syntax! How can I edit the mask position? Is there a place for X and Y shift and scale?

My main concern is to divide the picture into 9 squares (3 x 3) and put a mask on only one square of them each time then get the context encoder to inpaint the masked area!

I tried to edit the lines you told me about however i couldnt get the mask posi

[2017-05-09 22:59] pathak22 commented on #14
I believe this is more a lua question than related to context encoders. There is this random region inpainting code here:
https://github.com/pathak22/context-encoder/blob/master/train_random.lua

You can take help from it, and modify accordingly. Let me know if I misunderstood your question.

[2017-05-09 23:00] pathak22 commented on #8
@xuyifeng-nwpu
No it need not be square. But for non-square arbitrary regions, you can train your own models using this file: https://github.com/pathak22/context-encoder/blob/master/train_random.lua

Instructions are given in readme.

[2017-05-09 23:00] #8 closed

[2017-05-09 23:03] pathak22 commented on #5
Hi guys !
@June01 @xuyifeng-nwpu @Eyesonly88

Thanks for the discussion. You can train random region inpainting using this code:
https://github.com/pathak22/context-encoder/blob/master/train_random.lua
Instructions are given in readme. However, I would like to mention that I haven't tuned the hyper-parameters for random region inpainting, and there is a lot of scope for improvement. If you find a

[2017-05-09 23:26] Kareem-94 commented on #14
Thanks for quick reply :D

I think you didn't get my point ... i want to change the mask location. I don't want it a the center. My concern is to put a square mask on a desired  position on the picture however i can't do it by just changing the lines you told me about! I need to understand your algorithm to generate the mask.

Your help is really appreciated

[2017-05-09 23:27] Kareem-94 commented on #14
Sorry, I mean to position the mask not to generate it!

[2017-05-10 07:38] NerminSalem commented on #14
i have the same question as kareem-94
i tried train_random.lua but didn't give me the required as i want to be able to shift the square mask all around the image. i.e to make the square mask shifted up/down/left/right
i know that for each mask position i will have to train the network but my problem concerning the code
real_ctx[{{},{1},{},{}}][mask_global] = 2*117.0/255.0 - 1.0
   real_ctx[{{},{2}

[2017-05-10 07:42] cryptedp opened #15 "Download random region inpainting model"
Hi
In your paper you mentioned that you have implemented the 3 strategies, namely centre  inpainting, random block inpainting and random region inpainting.  However there is currently no way to download a inpaintRandomRegin model in t7 format. Can that be provided or does it need to be trained with train_random.lua?

[2017-05-10 08:50] cryptedp commented on #14
Is there a way to provide images with masked regions ? Meaning images where some part is already masked white and this region is then inpainted ? Or does the masked region need to be always generated in the code ?

[2017-05-10 08:52] NerminSalem commented on #14
the masked region is generated by the code

[2017-05-10 08:53] cryptedp commented on #14
Yes I know but is  there is no way to input images with already masked regions ?

[2017-05-10 08:56] NerminSalem commented on #14
the code must work on the whole image and it generates a mask at the center so wt i want to do is to be able to make the square mask to go all around the image so that i m waiting for @pathak22  to help with that issue
@pathak22 u did a wonderful job with yr code

[2017-05-10 09:02] cryptedp commented on #14
Okay @NerminSalem  I think it's better if I make another issue out of my concern

[2017-05-10 09:04] NerminSalem commented on #14
kindly @cryptedp  if u found a way to move the mask all around the image, let me know

[2017-05-10 09:06] cryptedp opened #16 "Input already masked images instead of generating patches"
Hi
Is it possible to input already masked images instead of generating masks in the image first and inpaint them ? The problem is, that the masks in my images will not all be in the same relative locations so I should inpaint different image regions but I don't want to generate masks myself on the image. If it is possible, should the masks satisfy some constraints (like pixel values )?
Thx in adva

[2017-05-10 09:08] cryptedp commented on #14
@Nermin do you want to reposition your mask, so that it is not in the center ?

[2017-05-10 09:12] NerminSalem commented on #14
yes, i want to be able to move the mask for example to be on the top left of the image or down bottom left and so on
u know it s like i m assuming that the image is divided into 9 (3*3)squares and i want to be  able to move the mask all over these squares

[2017-05-10 09:23] cryptedp commented on #14
Do you mean something like that ?
![imagenet_result](https://cloud.githubusercontent.com/assets/5487736/25891931/03fd8ccc-3573-11e7-8dd3-1e172ecc7d95.jpg)

[2017-05-10 09:23] NerminSalem commented on #14
yes exactly but i need the results to be good too

[2017-05-10 09:28] Kareem-94 commented on #14
@cryptedp heyyyy!! How did u do that 😂😂

[2017-05-10 09:28] cryptedp commented on #14
Yes that was just shifting the center but still using the inpaintcenter model in the demo code.  But for shifting you can change the coordinates of
`local real_center = real_ctx[{{},{},{1 + opt.fineSize/4, opt.fineSize/2 + opt.fineSize/4},{1 + opt.fineSize/4, opt.fineSize/2 + opt.fineSize/4}}]:clone()`

and
`real_ctx[{{},{1},{1 + opt.fineSize/4 + opt.overlapPred, opt.fineSize/2 + opt.fineSize/4 -

[2017-05-10 09:30] cryptedp commented on #14
@Kareem-94 I changed the coordinates of
`real_center = image_ctx[{{},{},{1 + inputSize/4, inputSize/2 + inputSize/4},{1 + inputSize/4, inputSize/2 + inputSize/4}}]:clone() `
to `real_center  = image_ctx[{{},{},{1 , inputSize/2 },{1 , inputSize/2 }}]:clone()` in demo.lua.
Futhermore I changed
`image_ctx[{{},{1},{1 + inputSize/4 + opt.overlapPred, inputSize/2 + inputSize/4 - opt.overlapPred},{1 + in

[2017-05-10 09:42] NerminSalem commented on #14
@cryptedp  thanks alot for sharing yr code

[2017-05-10 09:49] Kareem-94 commented on #14
@cryptedp I'll try to train the model again from scratch at the new mask location and see the results! Thanks very much for the code! Really appreciated.

[2017-05-10 18:48] pathak22 commented on #15
Hi @cryptedp ! Yes, Sorry about that. I will have to retrain the train_random.lua and upload the model at some point. I will put on my todo list to run it. However, you can run train own model using train_random.lua on imagenet. Training should be super easy to launch as long as you have Torch and GPU. :)

[2017-05-16 00:24] playerkk opened #17 "Mean Pixel Value of the Features Caffemodel"
Hi, I was wondering if you subtracted the input image by some mean pixel values. If so, would it be possible to let me know what they are? Thanks.

[2017-05-16 10:25] pathak22 commented on #17
For caffe-model, I used standard imagenet-constant value mean subtraction, i.e., subtract from each pixel the following: [B,G,R] = [104,117,123].

[2017-05-25 08:30] mcahny opened #18 "Decoder part for section 5.2, feature learning?"
The prototxt and learned weight for the Alexnet encoder is here, but I wonder if there is caffe /torch implementation for the decoder part, which would include the channel-wise fully connected layer.

I would greatly appreciate if you can share the implementation.

[2017-05-28 15:44] pathak22 commented on #18
You don't need to implement Channel-wise layer separately. It can be designed using 'groups' feature in convolutional layers. For e.g. in Caffe:

=> channelWiseFC = L.Convolution(pool5, kernel_size=6, num_output=9216, stride=1, pad=0, group=256)

[2017-05-28 15:44] pathak22 commented on #17
Closing this issue hoping your question is answered.

[2017-05-28 15:44] #17 closed

[2017-05-28 17:00] cryptedp commented on #15
Hi, how can one train it on imagenet and how long would it take ?

[2017-05-28 20:41] mcahny commented on #18
Thanks a lot.

Can you also show an example how the upconvolution is done? I wonder how unpooling could be done in caffe. Or are they just simple deconvolutions w/o unpooling?

[2017-05-28 21:26] mcahny commented on #18
@pathak22 Thanks a lot.

Can you also show an example how the upconvolution is done? I wonder how unpooling could be done in caffe. Or are they just simple deconvolutions w/o unpooling?

[2017-05-28 21:38] mcahny commented on #18
@pathak22 Thanks a lot.

Can you also show an example how the upconvolution is done? I wonder how unpooling could be done in caffe. Or are they just simple deconvolutions w/o unpooling?

and if so, what are the parameters for the deconvolutions?

[2017-06-15 08:35] pathak22 commented on #18
@mcahny Sorry for late reply. This is how deconv is done:
`def deconv(bottom, kernel_size, num_output, stride=1, pad=0, group=1):
    p = dict(kernel_size=kernel_size, stride=stride, num_output=num_output, pad=pad,
             group=group)
    return L.Deconvolution(bottom, convolution_param=p)`

[2017-07-10 15:57] #18 closed

[2017-08-10 14:16] liuppboy opened #19 "About Paris StreetView Dataset"
Hi,

I have read your paper and hope to run the code, but I cannot find the Paris StreetView Dataset. Since ImageNet is too large and difficult to train, I hope to use Paris StreetView Dataset. So could you please tell me how I can find the dataset?

Thanks so much for your attention!

[2017-08-13 09:53] NerminSalem commented on #10
hi
in figure 9a the last conv layer s' dimension is 4*4*512 in encoder part, what is its equivalent in alexNet architecture
thanks

[2017-08-16 07:09] #19 closed

[2017-08-19 11:11] NerminSalem opened #20 "Paris StreetView Dataset"
hi @pathak22 hope u r fine
can u share the link to download the Paris StreetView Dataset?
thanks for yr help and support

[2017-08-21 10:07] pathak22 commented on #20
@NerminSalem: please email me and I will share. Google policy forbids putting a public link for streetview images. Thanks!

[2017-08-21 10:07] #20 closed

[2017-08-21 10:08] pathak22 commented on #19
If you email me, I can share the dataset with you with a private link. Google policy does not allow public sharing of street-view images.

[2017-08-21 10:21] NerminSalem commented on #20
i already did, kindly check yr mail, my mail is nfawzy@fue.edu.eg
thanks alot

[2017-10-06 20:25] maryam089 commented on #16
Did you find the solution to the above problem ? @cryptedp

[2017-10-06 20:33] maryam089 commented on #14
Did you find the solution to your question mentioned below ?
If yes,then kindly let me know too :) @cryptedp

"Is there a way to provide images with masked regions ? Meaning images where some part is already masked white and this region is then inpainted ?"

[2017-10-08 02:09] xzq-forever opened #21 "Question about the paper"
At B. Feature Learning part in Supplementary Material, you said," Unfortunately, we couldn’t train adversary with Alexnet Encoder." I wonder whether it is because you use Random region method?

[2017-10-20 22:16] pathak22 commented on #16
Yes, you can always modify the input code to do that. I only provided automatic masks for the convenience of code release and to avoid having to release masks file.

[2017-10-20 22:18] pathak22 commented on #21
No, it was because I could not find right hyper-parameters in order for the training to not collapse. But note that the paper is from CVPR'16 at this point, so there might be better hyper-parameter settings now (1.5 yrs later).

[2017-10-20 22:18] #21 closed

[2017-11-03 12:18] bjergshen commented on #20
Have you download the dataset? can you give me a link?my mail is luojiejx@163.com
thanks a lot !@NerminSalem

[2017-11-09 02:30] maryam089 commented on #15
@pathak22 can you provide already trained model for random region inpainting ?

[2017-11-19 09:37] windSong1 opened #22 "Random missing areas get bad effect"
hello! Thanks for your brilliant paper and code first.

I use the 'train_random.lua' script to train the net to complete an image with random loss area,I train it in a GPU of GTX 1080, I found the train time is so long if I loop 500 times, almost 150 hours, so I only loop 80 times.the effect in visulization web is good,but when I test it in validation data, the result is so bad.

Followings are so

[2017-11-21 03:00] windSong1 commented on #22
I got it, I trained it with fineSize of 64x64, but I test it with fineSize of 128x128, but when I use fineSize of 64x64 to test, the result is still not good,I only trained it 80 epoch because of the time.

![screenshot from 2017-11-21 10-59-31](https://user-images.githubusercontent.com/19423217/33052712-18e5c13c-ceab-11e7-80e6-cbd3d0fc6e6d.png)

[2017-11-21 03:10] maryam089 commented on #22
@linyuxuan you mean results are good
At training with fine size 64x64 and testing at 128x128 ?

[2017-11-21 07:29] windSong1 commented on #22
@maryam089 no, I got a mistake at first, as you can see, the result is not good if the train size and test size are not matching. but when I match them all, the resul is still not good, see the last picture. I guess it is the reson that my training epoches are not enough,only 80 epoches.

[2017-11-21 07:35] maryam089 commented on #22
@windSong1 Well I think so that is the reason but as training on 100K Images from ImageNet takes so long so there is risk that one is wasting time on training for so much days and then end up with same bad results. Anyway could you share your model of 80 epoch with me ? let me check it on some other dataset and see how results changes

[2017-11-21 12:01] windSong1 commented on #22
@maryam089 I trained it on flying-chair dataset,not ImageNet,do you still want it?

[2017-12-15 20:07] VishaalMK opened #23 "Number of training epochs for ImageNet"
Hi, I would like to double check on the number of epochs required to train the context encoder for center region dropout on ImageNet. I have noticed that [train.lua](https://github.com/pathak22/context-encoder/blob/master/train.lua) uses a default value of 20, but it would be helpful to know the exact value used to produce the results in [demo.lua](https://github.com/pathak22/context-encoder/blob/

[2017-12-15 21:28] #23 closed

[2017-12-19 12:10] micklexqg opened #24 "where to download the Paris StreetView Dataset"
Hi, I want to train it by myself,but i don't know how to download the datasets.
can you give me a link? any related url are appreciated.

[2017-12-24 05:36] micklexqg opened #25 "strange results on lfw dataset"
I trained on lfw dataset with the code, but the result is very strange:
![image](https://user-images.githubusercontent.com/13776012/34324471-748acf0a-e8af-11e7-960b-610ccfbc7cd1.png)
![image](https://user-images.githubusercontent.com/13776012/34324472-7eb97ee0-e8af-11e7-8e53-52bab95d71c7.png)

has anyone ever tried on lfw?

[2017-12-25 15:58] maryam089 opened #26 "How to resume training from a certain epoch value ?"
Hi ! Your work is great but I want to know that if i want to resume training from certain epoch then how to edit this in your training center inpaint code ?

[2017-12-29 06:07] maryam089 commented on #26
When I try to load the pre-trained network and then want to update it with more training it gives me following error.......... any help @pathak22 ??
/home/maryam/torch/install/bin/lua: /home/maryam/torch/install/share/lua/5.2/nn/Module.lua:327: check that you are sharing parameters and gradParameters
stack traceback:
	[C]: in function 'assert'
	/home/maryam/torch/install/share/lua/5.2/nn/Module.lu

[2018-01-03 08:05] include-chenshen opened #27 "Why there is no batch normalization after the first conv2d layer?"

[2018-01-11 04:51] harshithabk opened #28 "Regarding image rescaling"
@pathak22 : As per our observation, the models rescales the images to 128x128.
Since our input image resolution is HD, we expect the reconstructed output also to be of same resolution.
Please let us know if this is possible?

[2018-01-11 07:28] harshithabk opened #29 "Dataset for paris and imagenet"
@pathak22  Could you please share me the dataset that you used to train your models?
My email id is harshi.384@gmail.com

Also, when I tried to train the model [train.lua] with a different dataset, I obtained the following error:
/home/ananya/torch/install/bin/luajit: /home/ananya/torch/install/share/lua/5.1/trepl/init.lua:389: module 'display' not found:No LuaRocks module found for display
	no fi

[2018-01-11 10:40] Faur opened #30 "AlexNet results"
As I understand it all images in the paper are using the small (not AlexNet) architecture, since the adversarial loss makes the images look much nicer. I was hoping it is possible to share some of the images from the AlexNet implementation so that I can compare with the results of my own implementation.

(If there are other smart ways of performing intermediate validation of the AlexNet implementa

[2018-01-13 17:05] Faur opened #31 "Segmentation results: What units are used?"
In Table 2 of the paper some segmentation performances are given, but I am not sure of the units. Is it accuracy, since there is a percentage sign? Or is it mean IoU, which is more standard (I don't recall seeing it with a percentage sign before though)

![image](https://user-images.githubusercontent.com/8115763/34908174-12c4f1fa-f88c-11e7-98d0-6a3288e96cec.png)

[2018-01-16 10:00] NerminSalem opened #32 "About training with the Pairs StreetView Dataset"
how many epoches are used for training with paris streetview dataset ?
and how many epoches if i trained with adv. loss on?
thanks sooo much for yr help and support @pathak22

[2018-01-16 15:35] niloleart commented on #16
Did you find the way to do that @cryptedp ?
It will help me a lot :)

[2018-01-16 15:47] cryptedp commented on #16
Yes, it was quite a hack actually. We detected the objects and modified the image, such that the object is in the middle and then we called inpaint_center to inpaint that region. Next we took the inpainted region back to its original position. It did not work that bad, however if we had multiple object instances it was quite messy and sometime the inpainting result was not that good

[2018-01-16 18:13] niloleart opened #33 "Cannot test random region inpainting"
I am trying to run the provided trained net (imagenet_inpaintCenter) with random region inpainting (test_random.lua)

DATA_ROOT=dataset/val net=models/inpaintCenter/imagenet_inpaintCenter.t7 name=test_whatever useOverlapPred=0 manualSeed=222 batchSize=30 loadSize=129 gpu=1 th test_random.lua

but I get this error: bad argument #2 to '?' (sizes do not match at /<...>/torch/extra/cutorch/lib/THC/gen

[2018-01-16 18:22] niloleart commented on #15
@maryam089 @pathak22 does any one of you have a trained model for random region inpainting?

[2018-01-16 18:27] maryam089 commented on #15
Well I spend 6 days and train the model but results were very bad for random region inpaint

[2018-01-22 15:45] #33 closed

[2018-01-22 16:50] niloleart commented on #16
Can you provide me more info about it? Or the code? :D
Thanks, @cryptedp

[2018-01-24 15:26] NerminSalem opened #34 "error whille testing my dataset"
hii
i tried training using the parisview dataset but i always get that error while testing after it finishes the training phase, which i can't figure out why ??
can u help ? @pathak22
![screenshot from 2018-01-24 17-25-41](https://user-images.githubusercontent.com/26221951/35340385-a6784ba2-012b-11e8-8cd0-b3f3be9663c4.png)

[2018-01-31 05:05] harshithabk opened #35 "Regarding re-training a model"
@pathak22
I understood the method to train with the existing dataset for `centre region inpainting model` with the below command as mentioned in README.md

DATA_ROOT=dataset/train display_id=11 name=inpaintCenter overlapPred=4 wtl2=0.999 nBottleneck=4000 niter=500 loadSize=350 fineSize=128 gpu=1 th train.lua

This will give me the trained model "inpaintCenter_500_net_G.t7"
However I have two queri

[2018-01-31 05:12] maryam089 commented on #35
Regarding your first question, now a days i am also stuck on that ..... I also want to re-train the network with different set of images other than ImageNet dataset. So i tried to load parameters as well but its giving me error although i also tried to clone parameters from model to the network but no luck so far :( see the following link
https://github.com/pathak22/context-encoder/issues/26
if yo

[2018-01-31 05:15] harshithabk commented on #35
Okay, Thank you for the sharing the details.
In case I find any solution, will definitely post here.
Any idea about the 2nd question?

[2018-01-31 05:19] maryam089 commented on #35
did you read this
https://github.com/pathak22/context-encoder/issues/5

if you change the patch location in the training code and train it afterwards then i think it will be fine but training on 100k imagenet dataset will take 6 days on 1 GPU system

[2018-02-16 07:58] harshithabk opened #36 "How to avoid blocky reconstruction"
@pathak22

How to remove the blocking artifact in the patch loction after reconstruction of image?
What value to be set in this part of code?

image_ctx[{{},{1},{1 + opt.fineSize/4 + opt.overlapPred, opt.fineSize/2 + opt.fineSize/4 - opt.overlapPred},{1 + opt.fineSize/4 + opt.overlapPred, opt.fineSize/2 + opt.fineSize/4 - opt.overlapPred}}] = 2*117.0/255.0 - 1.0
image_ctx[{{},{2},{1 + opt.fineSize

[2018-02-17 07:31] pathak22 commented on #24
@micklexqg
Email me and I will share a private link with you. I can't post the public link to this dataset due to the policy restrictions from Google Street View.

[2018-02-17 07:31] #24 closed

[2018-02-17 07:34] pathak22 commented on #27
@include-chenshen
No particular reason as such -- just wanted to keep Discriminator, Generator, and Encoder as symmetric as possible. I do not think this choice should affect the results in any way. Feel free to try it out. :-)

[2018-02-17 07:40] pathak22 commented on #26
@maryam089
Can you paste the full log? Where is this pre-trained network from? Was it trained from the context encoder training code? Are the architecture and other details same?

[2018-02-17 07:44] maryam089 commented on #26
Well i am using your already trained network on imageNet 100k ..(center region inpaint).... but now i want to add few thousand more images to it and train it again ... how i can i load the weights and parameters to the network when i try to train it again for 1 or 2 more epoch on by loading already trained network @pathak22

[2018-02-17 07:45] pathak22 commented on #30
When I was training context encoder (~2yrs ago), I found it difficult for the training to converge when the generator is an AlexNet and discriminator is same as in the current code. Hence, I used a smaller architecture for the generator too. Maybe you can try AlexNet generator now with all the latest GAN tricks (200+ papers since then) and it might work better. :-)

In the paper, while using AlexN

[2018-02-17 07:51] pathak22 commented on #35
@maryam089 @harshithabk

First, I would recommend training from scratch if you have large number of images in your dataset.

Second, if you don't have that many images and want to finetune from a pre-trained model. I would suggest looking at this [file](https://github.com/pathak22/context-encoder/blob/master/demo.lua#L27) and see how the network is first loaded. After this, the loaded network is s

[2018-02-17 07:52] pathak22 commented on #5
Closing this issue, since it seems to be taken care of by the above commit.

[2018-02-17 07:52] #5 closed

[2018-02-17 07:53] pathak22 commented on #34
Is it at the end of training? You can also just comment out testing part and then later test it using demo.lua or test.lua?

[2018-02-17 07:55] pathak22 commented on #25
Ah, this seems weird -- can you crop these dataset images to get tight face crops, and then try inpainting on the tight face crops first (instead of the full upper body photo as shown above)?

[2018-02-17 07:56] NerminSalem commented on #34
Thanks alot for yr reply but this error was due to that i used dataset of rectangular images when i resized them to a square iamges it worked.thanks

[2018-02-17 07:56] #34 closed

[2018-02-17 07:57] pathak22 commented on #29
@harshithabk
Email me and I will share a private link with you. I can't post the public link to this dataset due to the policy restrictions from Google Street View.

[2018-02-17 07:57] #29 closed

[2018-02-17 07:58] NerminSalem commented on #26
@pathak22 if i stopped traing for any reason can i resume tge training from the epoch it stopped in as it always start from the beginning

[2018-02-17 08:03] pathak22 commented on #32
all these details are here: https://github.com/pathak22/context-encoder#2-train-context-encoders

[2018-02-17 08:03] #32 closed

[2018-02-17 08:05] pathak22 commented on #28
In this code, I did not support this. But if you would like, there are several followup works which try to run this approach with high-resolution images.

[2018-02-17 08:06] pathak22 commented on #15
@maryam089 can you post some results here?

[2018-02-17 08:10] pathak22 commented on #15
@maryam089 Also see #22 (the second picture). Are your results worse than those?

[2018-02-17 08:13] pathak22 commented on #26
@NerminSalem @maryam089

Sorry I didn't provide this functionality in the training code (I should have!). But it should not be hard to implement if you look at this [file](https://github.com/pathak22/context-encoder/blob/master/demo.lua#L27) and see how the network is first loaded. After this, the loaded network is same as the one defined [here](https://github.com/pathak22/context-encoder/blob/mas

[2018-02-17 08:13] pathak22 commented on #35
#26 Continue this discussion on the other thread. Closing this one.

[2018-02-17 08:13] #35 closed

[2018-02-17 08:18] pathak22 commented on #31
This is indeed meanIoU -- which can range from 0 to 100. I agree percentage sign is not standard, but it is not wrong since it says how much of max meanIoU (which is 100) did the method gets which is equal to the actual meanIoU.

Hope it clarifies! :-)

[2018-02-17 08:18] #31 closed

[2018-02-17 08:19] pathak22 commented on #36
What is a blocking artifact? Can you post some images?

[2018-02-17 08:49] maryam089 commented on #15
I trained your network from strach for random region inpaint at input size 128x128 ... on imageNet 100k ... and results weren’t good then I realized that I should again train it on 64x64 size input.... but as it takes 6 days to train ... so can you provide already trained network of random region inpaint on input size 64x64 ... if possible?

[2018-02-18 08:42] harshithabk commented on #36
@pathak22
Blocky artifact means
![test_imgnet_14](https://user-images.githubusercontent.com/34910044/36350009-adcb1e78-14b5-11e8-8151-2f3e63c07f01.png)

How do we remove those artifacts?

[2018-02-18 19:16] pathak22 commented on #36
Surprising! Is it the from the trained model I released? This very result looks much better when I tried. For instance see this figure here: https://people.eecs.berkeley.edu/~pathak/context_encoder/resources/result_fig.jpg

Could you give more details? thanks!

[2018-02-26 17:39] anil-2185 opened #37 "what is the size of Imagenet (1.2M or 100K) used for pretraining?"
To get similar results in Table 2, how many images are used from Imagenet dataset 1.2M or 100K?

[2018-02-26 20:09] pathak22 commented on #37
1.2M images

[2018-02-26 20:09] #37 closed

[2018-03-07 08:49] micklexqg commented on #12
@pathak22 , wtl2 is for what? if it is set 0 (default), then the script will be used for feature learning?
I notice there is
![image](https://user-images.githubusercontent.com/13776012/37082359-5ed8ad9c-2227-11e8-93a5-4273f691ff3f.png) and
![image](https://user-images.githubusercontent.com/13776012/37082393-6ee53070-2227-11e8-9282-d6186dc82ba6.png)

  in the equation
![image](https://user-images.g

[2018-03-07 09:55] NerminSalem opened #38 "about inpainting random blocks?"
can you provide the train and test files for training the context encoder to inpaint random blocks not regions?
thanks

[2018-03-08 06:38] micklexqg opened #39 "is overlapPred used?"
in paper, it mention that overlap is 7, but the parameter is set 0 (default) in code.
is it used?

[2018-03-08 20:44] pathak22 commented on #39
This parameter is passed in the commands. It could be zero or non-zero in different cases. Please refer to the detailed commands in readme: https://github.com/pathak22/context-encoder#2-train-context-encoders

[2018-03-08 20:44] #39 closed

[2018-03-09 06:49] micklexqg commented on #39
@pathak22 ,sorry for that. I run with the pytorch version before. I want to make sure that if the wtl2 is the
![image](https://user-images.githubusercontent.com/13776012/37194350-c24e36bc-23a8-11e8-896f-2590a2e4f028.png) in the paper equation 3? maybe it is a little stupid. but I just want to make sure. thank you.

[2018-03-09 20:08] pathak22 commented on #39
No worries! Great! :-)

[2018-03-13 03:02] micklexqg commented on #39
@pathak22 , thanks for your understanding. Must the rec weight plus the adv weight equal 1? it is so in the paper set (0.999+0.001). or they can be any value?

[2018-03-13 15:21] include-chenshen commented on #27
Oh, I am so sorry! Because of some reason, I missed this e-mail until today.
Since you shared your precious dataset with me, I have done train process. But, limited by computational power, I am unable to train on the whole imagenet.
So, could you share the checkpointing of discriminator (corresponding to “paris_inpaintCenter.t7” or “imagenet_inpaintCenter.t7” on Github) with me?
Anyway, thank you

[2018-04-16 07:08] harshithabk commented on #26
@pathak22
Hi,
This is regrading re-training the imagenet/paris model that you have shared.
We referred the below two links:
https://github.com/torch/demos/blob/master/train-a-digit-classifier/train-on-mnist.lua
https://github.com/facebook/fb.resnet.torch/issues/116
And we understand that there is a command line argument to indicate whether its re-training or training from beginning.
Do you have an

[2018-05-09 13:07] micklexqg commented on #38
is it train_random.lua ?

[2018-05-09 13:12] micklexqg commented on #22
@windSong1 , I notice that the random position is also fixed from your result image.
if i want to inpaint other areas or anywhere. how should i do ?

[2018-05-09 13:17] micklexqg opened #40 "how to inpaint anywhere or fulfill real random inpainting?"
@pathak22 , hi. I tried the train_random.lua.  and the result is as follow:

![image](https://user-images.githubusercontent.com/13776012/39816579-3f2f50ee-53ce-11e8-883a-dbcb9e741ef2.png)

but I think it is only pseudorandom. for a  given training, the random position is also fixed after training. so if i want to inpaint other areas or anywhere. how should i do ?

[2018-05-09 14:59] NerminSalem commented on #38
No i don't need random mask shapes,i need to be able to inpaint any random position sqaure mask of the image

[2018-05-10 01:59] micklexqg commented on #38
#40  , #22 , the same question can be seen there.

[2018-05-10 08:19] micklexqg commented on #14
@Kareem-94 , @pathak22 , how to fulfill the corresponding python slice or pytorch slice in terms of
the torch slice " real_ctx[{{},{3},{},{}}][mask_global] = 2*123.0/255.0 - 1.0" ?

[2018-06-29 05:01] Tysonwei opened #41 "Training time"
Hi, can I know how much training time it spent for inpainting using ImageNet ?
And what kind of gpu you use? Thanks!

[2018-07-03 09:14] NerminSalem commented on #40
@micklexqg did u find a solution?

[2018-07-03 09:17] NerminSalem commented on #22
did u tried to activate adv loss?

[2018-07-06 08:03] micklexqg commented on #40
@NerminSalem , not yet.

[2018-07-27 07:02] micklexqg opened #42 "what is the "conditionAdv" for?"
Hi,
I find that if the opt.conditionAdv is true , then the input of the  Adversarial discriminator net is 128x128,
but if set it false, the input is changed to be 64x64.
so  what is the "conditionAdv" for?  and what is the real input size of  Adversarial discriminator net?

[2018-08-09 12:10] xaggi opened #43 "Loss_D goes to 0"
Hi,

First of all, great and interesting work. Congratulations! I have recently started my Ph.D. and your paper was one of the few interesting and helpful baselines for me to grab some knowledge on the inpainting topic.

I tried Context Encoder (CE) on my lab's locally obtained dataset (~0.5 million images) and it outperformed many other inpainting methods that we experimented with.

But recently,

[2018-10-31 17:18] r06922019 opened #44 "Condition on Discriminator"
Hi,

From page 5:
To customize GANs for this task, one could condition on the given context information; i.e., the mask Mˆ ⊙ x. However, conditional GANs don’t train easily for context prediction task as the adversarial dis- criminator D easily exploits the perceptual discontinuity in generated regions and the original context to easily classify predicted versus real samples.

Does this means that

[2019-01-07 21:34] sohelmsc commented on #24
Hi Pathak,
I am currently working on image inpainting algorothim and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email: mbhuiyan@ualberta.ca

[2019-01-26 15:33] 2018hello opened #45 "Questions about test code"
hi
1 I have a question about the loadSize, why should we use 129 not  just 128?
2 why should we use overlapPred?
3 I have a image which fineSize is 32*32. If I want to train this fineSize, then I just change new dataset and fineSize in code.?
4 If I want to train my dataset, how should I adjust the parameter to get best results?
Thank you so much!

[2019-02-09 01:47] ljjcoder commented on #39
@pathak22 when I use your pretrain model to test with overlap=4（net=models/inpaintCenter/imagenet_inpaintCenter.t7 name=imagenet_result imDir=images/imagenet overlapPred=4 manualSeed=222 batchSize=21 gpu=1 th demo.lua
） t
![imagenet_result](https://user-images.githubusercontent.com/40750189/52514723-48630c00-2c4f-11e9-9332-c08ed03f2591.png)
he result like bellow：

but when I use overlap=4 the resu

[2019-02-09 01:48] ljjcoder commented on #39
@pathak22 sorry， the second case is overlap=3

[2019-02-21 03:33] FrankYinXF opened #46 "About torch.setnumthreads(1)"
In the file (train.lua and data.lua), why set torch.setnumthreads(1)?

I am a little confused about the setting. Can I set multithreads, such as torch.setnumthreads(torch.getnumthreads())?

Thanks for your time.

[2019-03-01 06:58] FindTheAnswer opened #47 "About the dataset"
Could you give me the link of Paris Street-View Dataset?
My e-mail is 972346454@qq.com

[2019-03-02 11:59] DongPear opened #48 "About dataset"
Hi Pathak,
I'm a student studying on inpainting now. And I'd like to know if I can get dataset by email for private use.
And my email is lauren1997@qq.com.

[2019-03-12 06:29] zhangchencai opened #49 "Paris Street-View Dataset"
Hi Pathak,
I am currently working on image inpainting algorothim and trying to train several model architectures. Can you share the Paris Street-View Dataset through a private link in my email address. That would be really great. Thanks.
Email: yyong_ma@outlook.com

[2019-03-15 13:38] AshishRMenon opened #50 "Implementation in pytorch"
Any idea on how to implement this paper in pytorch would be of a great help.!
And what do these line of the code do?
How do I implement these lines in pytorch

real_ctx[{{},{1},{},{}}][mask_global] = 2*117.0/255.0 - 1.0
real_ctx[{{},{2},{},{}}][mask_global] = 2*104.0/255.0 - 1.0
real_ctx[{{},{3},{},{}}][mask_global] = 2*123.0/255.0 - 1.0
input_ctx:copy(real_ctx)

[2019-04-02 01:46] jiafeng5513 opened #51 "Asking for Paris Street-View Dataset"
Hi Pathak,
I am currently working on image inpainting algorothim and trying to train several model architectures. Can you share the Paris Street-View Dataset through a private link in my email address. That would be really great. Thanks.
Email: jiafeng5513@outlook.com

[2019-04-13 11:12] CVlin commented on #24
Hi Pathak,I am currently working on image inpainting algorothim and trying to train several model architectures,Can you share the dataset through a private link in my email address.Thank you.
E-mail：1908557731@qq.com

[2019-04-15 02:38] CVlin commented on #47
Could you give me the link of Paris Street-View Dataset?
My e-mail is 1908557731@qq.com

[2019-04-15 08:35] zhengyi1212 commented on #24
Hi Pathak,
I am currently working on image inpainting algorothim and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks so much. e-mail:zhuzhengyi2013@126.com

[2019-04-23 05:40] LXQQQ commented on #24
Hi Pathak,
I am currently working on image inpainting algorothim and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email: lxq7lxq@qq.com

[2019-05-11 06:21] Mengyao-Li opened #52 "Datasets"
Hi,I'm studying on inpainting now.Could you share the Paris Street-View Dataset through a private link in my email address. Thanks.My email is 1592884408@qq.com

[2019-05-20 00:13] Oliiveralien opened #53 "TypeError: RangeIndex(...)"
TypeError: RangeIndex(...) must be called with integers, map was passed for stop

[2019-05-22 07:28] vishesh90tanwar commented on #24
Hi Pathak,
I am currently working on image inpainting algorithms and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email: vtanwar@ma.iitr.ac.in

[2019-05-23 07:11] Crispual commented on #24
Hi Pathak,
I am currently working on image inpainting algorithms and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email: 1783417912@qq.com

[2019-06-05 13:01] lzzlxxlsz opened #54 "dataset"
Hi,I'm studying on inpainting now.Could you share the Paris Street-View Dataset through a private link in my email address. Thanks.My email is 18731186906@163.com

[2019-06-13 02:24] TracesChen commented on #24
@pathak22
I am currently working on image inpainting algorithms and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thank you very much.
Email: 1216159885@qq.com

[2019-06-13 02:27] TracesChen commented on #24
@Hi Pathak,
I am currently working on image inpainting algorithms and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email: 1216159885@qq.com

[2019-06-13 02:30] TracesChen commented on #24
everybody can downloads the datasets path
https://www.crcv.ucf.edu/data/GMCP_Geolocalization/#Publication

[2019-06-14 07:04] 12ycli opened #55 "Dataset"
Hi,I'm studying on inpainting now.Could you share the Paris Street-View Dataset through a private link in my email address. Thanks.My email is ucos-iii@qq.com

[2019-07-06 16:10] JiayiYang12 opened #56 "bash ./models/scripts/download_inpaintCenter_models.sh"
when I run "bash ./models/scripts/download_inpaintCenter_models.sh", it reports:

./models/scripts/download_inpaintCenter_models.sh: line 12: wget: command not found
Unzipping...
tar: Error opening archive: Failed to open 'inpaintCenterModels.tar.gz'
Downloading Done.
cat: inpaintCenterModels.tar.gz: No such file or directory
Checksum is incorrect. DELETE and download again.

What's the problem??

[2019-07-11 06:58] zhangbaijin commented on #55
if you have seconds,could you share the Pairs Street-View Datset link to me address? 512631874@qq.com

[2019-07-16 13:40] zhangbaijin commented on #24
Hi Pathak！ I am currently working on image inpainting algorothim and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great.  my emai address : 512631874@qq.com

[2019-08-15 06:55] xiaotian3 commented on #24
Hi Pathak！ I am currently working on image inpainting algorothim and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. my emai address :809078075@qq.com

[2019-09-07 12:50] mxkai opened #57 "Paris StreetView dataset"
Hi，I'm trying some  algorithms of image restoration. Can you provide a data set of Paris StreetView dataset?Thanks.
Email:1502930420@qq.com

[2019-09-12 04:36] chen15956 opened #58 "Dataset"
Hi Pathak,
I'm a student studying on inpainting now. And I'd like to know if I can get dataset by email for private use.

that is my e-mail : a0970739953@gmail.com

[2019-09-12 07:00] 213GUI opened #59 "Dataset"
Hi, could you send me the private link of the street view datasets? My email address is pk2458807@gmail.com. Thank you very much!

[2019-09-17 13:26] chingjunehao commented on #24
@pathak22 hey Pathak, I'm currently working on the unsupervised learning project for my final year project, can I get the dataset from you? My email is junehaoc@gmail.com

[2019-09-19 08:11] leishuangshuang commented on #24
Hi Pathak！ I am currently working on image inpainting algorothim and trying to train several model architectures. Can you share the dataset through a private link in my email address. Thank you. my emai address :1046044085@qq.com

[2019-09-19 08:16] leishuangshuang commented on #24
Hi, I want to train it by myself,Can you share the dataset through a private link in my email address. Thank you very much.my emai address :1046044085@qq.com

[2019-09-19 08:26] leishuangshuang commented on #52
Did the author send you the dataset?

[2019-09-19 08:53] leishuangshuang commented on #47
Did the author send you the dataset? If so, can you send it to me?
My e-mail is : 1046044085@qq.com

[2019-09-30 01:49] renhaha123 opened #60 "dataset"
Hi, could you send me the private link of the street view datasets? My email address is renhaha123@foxmail.com. Thank you very much!

[2019-09-30 12:30] mmash98 commented on #24
Hi Pathak,
I am currently working on image inpainting algorithms and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email: mariannaohanyan12@gmail.com

[2019-10-01 13:47] ghostian commented on #24
Hi Pathak,
I am currently working on image inpainting algorithms and trying to train several model architectures. Can you share the dataset through a private link in my email address.

Thank you very much!

mail: jx.ghostian@gmail.com

[2019-10-02 18:12] Hinal3 commented on #24
Hello ,
I am currently working on image inpainting algorothim . Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email: patelhinal664@gmail.com

[2019-10-08 11:03] nerminsamet commented on #24
Hello Pathak,
I am currently working on image inpainting. Can you share the dataset through a private link in my email address.
Thank you.
Email: nermin.samet@gmail.com

[2019-10-09 11:34] jxw950605 opened #61 "Request dataset help"
Hi
Our group is mainly studying the forensics of images and has been working on the forensics of image restoration recently. Could you please share the repaired images and masks you made to me? Thank you very much!
my email is XwangJu@163.com
Xingwang Ju
Nanjing University of information science and technology, China

[2019-10-11 13:19] Haoru opened #62 "Datasets"
Hi, could you send me the private link of the Paris street view datasets? My email address is gogohaoru@gmail.com. Thank you very much!

[2019-10-13 08:32] tanvircancode commented on #24
Hi Pathak, I would like to work on image inpainting and i need the dataset to train several model architectures.Can you share the dataset through a private link in my email address.Thank you.

Email : tanahmchw241996@gmail.com

[2019-10-14 01:49] jw09191 commented on #24
Hi Pathak,
I would like to work on image inpainting.
Please share the dataset through a private link in ma email.
Thank you.
Email : jw09191@gmail.com

[2019-10-14 08:03] Mengmengbai opened #63 "Request dataset"
Good job.
Could you share me the dataset？
383736929@qq.com

[2019-10-17 11:44] agyptl opened #64 "dataset request"
Could you please send me the dataset?My e-mail is ssttfit@outlook.com
Thank you so much.That's really helpful.

[2019-10-24 05:00] lxxlxm commented on #24
Hi Pathak,
I am currently working on image inpainting. Can you share the dataset through a private link in my email address. That would be really great. Thank you so much, my emai address :13134954@qq.com

[2019-10-28 02:30] HelenYang57 commented on #24
Hi Pathak,
I am working on image inpainting and need these images as training datasets badly. Could you please share a link with me? Thanks a lot!
Email : ykh2787@outlook.com

[2019-10-29 00:35] LeeAndLee1 commented on #64
Hi, Pathak, I want to train it by myself, but I don't know how to download the dataset.can you give me a link?Thank you.
My E-mail:1599417945@qq.com

[2019-10-30 01:05] renleidewenming commented on #24
Hello Pathak,
I am currently working on image inpainting. Can you share the dataset through a private link in my email address. Thanks.
Email: renleidewenming@gmail.com

[2019-11-01 03:41] mxkai commented on #64
Could you please share the dataset with me?My e-mail is 154446011@qq.com,Thank you

[2019-11-01 04:31] LeeAndLee1 commented on #64
sorry!I have not heard from the author.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"mxkai"<notifications@github.com&gt;;
发送时间:&nbsp;2019年11月1日(星期五) 中午11:41
收件人:&nbsp;"pathak22/context-encoder"<context-encoder@noreply.github.com&gt;;
抄送:&nbsp;"Mr Snow"<1599417945@qq.com&gt;;"Comment"<comment@noreply.github.com&gt;;
主题:&nbsp;Re: [pathak22/context-encoder] dataset request (#64)

[2019-11-03 07:39] lkhazyf commented on #24
Hi Pathak,
I am currently working on image inpainting algorothim and trying to train several model architectures. Can you share the dataset through a private link in my email address? Thanks very much.
Email: liukh5@mail.sysu.edu.cn

[2019-11-22 02:45] EricZgw commented on #24
Hi Pathak,
I am currently working on image inpainting. Can you share the dataset through a private link in my email address. Thanks.
Email: zhaogw93@gmail.com

[2019-12-10 22:47] jose13579 commented on #24
Hi Pathak,
I am currently working on image inpainting. can you share the dataset through a private link in my email addres? Thanks very much.
Email: jluiscampana357@gmail.com

[2019-12-12 14:33] jose13579 opened #65 "dataset"
Hi, could you send me the private link of the Paris street view datasets? My email address is jluisflores357@gmail.com. Thank you very much!

[2019-12-26 02:45] cwliang1219 commented on #24
I am currently working on image inpainting. Can you share the dataset through a private link in my email address. Thanks.
Email: d9307206@gmail.com

[2019-12-26 02:48] cwliang1219 commented on #65
I am currently working on image inpainting. Can you share the dataset through a private link in my email address. Thanks.
Email: d9307206@gmail.com

[2020-01-07 06:31] cc0013 commented on #24
Hi Pathak,
I am currently working on image inpainting algorothim and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email:2019282110189@whu.edu.cn

[2020-01-13 03:38] junsang7777 commented on #24
Hi Pathak,
I am currently working on image inpainting algorothim and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email:junsang7@konkuk.ac.kr

[2020-01-27 10:10] kamilTuszynski commented on #24
Hi,
I am currently working on image inpainting. Can you share the dataset through a private link in my email address. Thanks.
Email: miltenwml@gmail.com

[2020-02-05 16:03] w86763777 commented on #24
Hi,
I am currently working on image inpainting. Can you share the dataset through a private link in my email address. That would be really great. Thanks a lot.
Email: w86763777@gmail.com

[2020-02-20 12:23] hukkelas commented on #24
Hi,
I'm currently working on image inpainting. Could you share the dataset through a private link in my email adress?
email: anonconf2@gmail.com
Thanks!

[2020-02-23 00:19] birdortyedi commented on #24
Hi,
I'm currently working on image inpainting. Could you share the dataset through a private link in my email adress?
email: birdortyedi@gmail.com
Thanks!

[2020-02-23 01:31] Yapan0975 commented on #24
Hi,
I'm currently working on image inpainting. Could you share the dataset through a private link in my email address?
email: yp@zjut.edu.cn
Thanks!

[2020-03-09 08:54] whitecyw commented on #24
Hi Pathak,
I am currently working on image inpainting algorothim and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email:eaven_chen@toki.waseda.jp

[2020-03-30 11:38] 582751489 opened #66 "dataset"
Hi,I'm studying on inpainting now.Could you share the Paris Street-View Dataset through a private link in my email address. Thanks.My email is ly582751489@gmail.com

[2020-03-31 03:44] DingzhouWang opened #67 "dataset"
Hi, I am currently studying on inpainting. Could you please share The Paris Street-View Dataset through a private link in my email address. My email is 1614081533@qq.com. Thanks!

[2020-03-31 06:28] ShamelessBei commented on #67
I am in china. You want chinese city's data?

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"DingzhouWang"<notifications@github.com&gt;;
发送时间:&nbsp;2020年3月31日(星期二) 中午11:44
收件人:&nbsp;"pathak22/context-encoder"<context-encoder@noreply.github.com&gt;;
抄送:&nbsp;"Subscribed"<subscribed@noreply.github.com&gt;;
主题:&nbsp;[pathak22/context-encoder] dataset (#67)

Hi, I am currently studyin

[2020-04-05 10:27] aamirk5 opened #68 "Dataset"
Dear Sir,
Could you please email me dataset for learning image inpainting link.. my email id is as follow:
aamir.uettaxila@gmail.com
Thanks and best regards:

[2020-04-05 10:32] aamirk5 commented on #65
I am currently working on image inpainting. Could you please send the image inpainting dataset private link to my email address. Thanks.
Email: aamir.uettaxila@gmail.com

[2020-04-06 01:34] zbquanCoder commented on #24
Hi, I want to train it by myself model,Can you share the dataset through a private link in my email address. Thank you very much.my emai address :baoquanzhang@yeah.net

[2020-04-09 12:19] zhengbowei opened #69 "Paris StreetView dataset"
Hi，I'm trying some algorithms of image inpainting. Can you provide a data set of Paris StreetView dataset?Thanks.
Email:734249947@qq.com

[2020-04-15 11:11] SallyHuangImperial opened #70 "Dataset"
Dear Sir,
Could you please email me the dataset for the learning image inpainting link.
My email address is huangsally5686@gmail.com
Thanks!

best wishes
Sally

[2020-04-18 14:36] yabg-shuai666 opened #71 "Dataset"
Dear Sir,
Could you please email me the paris dataset for the learning image inpainting link.
My email address is 326605441@qq.com
Thanks!

best wishes

[2020-04-29 01:27] jiashide commented on #69
Hi Pathak,
I am working on image inpainting and need these images as training datasets badly. Could you please share a link with me? Thanks a lot!
Email:1354772109@qq.com

[2020-04-29 01:27] jiashide commented on #24
Hi Pathak,
I am working on image inpainting and need these images as training datasets badly. Could you please share a link with me? Thanks a lot!
Email:1354772109@qq.com

[2020-04-29 02:47] jiashide opened #72 "Paris StreetView"
Hi Pathak,
I am working on image inpainting and need these images as training datasets badly. Could you please share a link with me? Thanks a lot!
Email:1354772109@qq.com

[2020-04-29 10:49] Lillian1082 commented on #70
Dear Sir,
Could you please email me the dataset for the learning image inpainting link.
My email address is yang.liu3@anu.edu.au
Thanks!

best wishes
Yang

[2020-05-04 08:47] Algolzw opened #73 "Datasets"
Hi Pathak,
I am working on image inpainting and need these images as training datasets badly. Could you please share a link with me? Thanks a lot!
Email:algo_lzw@yahoo.com

[2020-05-06 11:33] AyanKumarBhunia commented on #24
Hi,
I'm currently working on image inpainting. Could you share the dataset through a private link in my email address?
email: a.bhunia@surrey.ac.uk
Thanks!

[2020-05-07 05:22] gina7152316 commented on #73
Hi Pathak,
I am working on image inpainting and need these images as training datasets badly. Could you please share a link with me? Thanks a lot!
Email: gina7152316@gmail.com/ gina7152316@yahoo.com.tw

[2020-05-07 05:23] gina7152316 opened #74 "Datasets"
Hi Pathak,
I am working on image inpainting and need these images as training datasets badly. Could you please share a link with me? Thanks a lot!
Email: gina7152316@gmail.com/ gina7152316@yahoo.com.tw

[2020-05-08 02:16] AnishWalawalkar commented on #24
Hi,
I'm currently working on image inpainting. Could you share the dataset through a private link in my email address?
email: anish.sanjiv@gmail.com
Thanks!

[2020-05-14 20:42] BoyuanJackChen commented on #24
Hi all,
Can any of you who already received it share the link to me? It would be really helpful!
Email: cbydeyouxiang3@gmail.com
Thanks!

[2020-05-15 09:42] lilili666-hit opened #75 "Datasets"
Hi Pathak,
I am working on image inpainting and need these images as training datasets badly. Could you please share a link with me? Thanks a lot!
My E-mail :875376358@qq.com

[2020-05-19 03:56] gina7152316 commented on #47
Did the author send you the dataset? If so, can you send it to me?
My e-mail is : gina7152316@gmail.com

[2020-05-19 03:59] gina7152316 commented on #20
Have you download the dataset? can you give me a link?
My mail: gina7152316@gmail.com
thanks a lot ! @NerminSalem

[2020-05-19 04:08] FindTheAnswer commented on #47
你好，不能私发。你给作者发邮件，他会给你链接。

---Original---
From: "Gina Chen"<notifications@github.com&gt;
Date: Tue, May 19, 2020 11:57 AM
To: "pathak22/context-encoder"<context-encoder@noreply.github.com&gt;;
Cc: "FindTheAnswer"<972346454@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
Subject: Re: [pathak22/context-encoder] About the dataset (#47)

Did the author send you the dataset? If so, can you send it to

[2020-06-08 15:58] inspectred opened #76 "Dataset request"
Hi Pathak,
Could you please share this inpainting dataset with me as I'm doing my Msc. theses on image inpainting? Thanks a lot!
Email: danydanydood@gmail.com

[2020-06-23 08:00] purple7seven commented on #24
Hi Pathak,
I am currently working on image inpainting algorothim and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks so much. e-mail: xuhuali.purple@gmail.com

[2020-07-03 20:35] KelestZ commented on #24
Hi Pathak,
I am working on Image inpainting. Can you share the dataset? My e-mail: peiye.zh@gmail.com. Thanks in advance!

[2020-07-08 02:43] weizitai opened #78 "datasets"
Hi Pathak,
      I am doing research related to image restoration, but there is no such Paris StreetView Dataset, please share your data set with me, thank you a lot.
Email:w406141176@gmail.com

[2020-07-13 09:05] haoxurt opened #79 "Data request"
Hi Pathak,
I am doing research related to image restoration, but there is no such Paris StreetView Dataset, please share your data set with me, thank you a lot.
Email:zgkdxuhao@163.com

[2020-07-14 17:57] funkdub commented on #24
Hi Pathak,

I am doing research related to image inpainting, but there is no such Paris StreetView Dataset, please share your dataset with me, thank you a lot. My e-mail: fengx@bjfu.edu.cn

[2020-07-14 17:58] funkdub opened #80 "Dataset Request."
Hi Pathak,

I am doing research related to image inpainting, but there is no such Paris StreetView Dataset, please share your dataset with me, thank you a lot. My e-mail: fengx@bjfu.edu.cn

[2020-07-17 11:00] baahuabhi opened #81 "Dataset request"
Hi Pathak,
               I need Paris view dataset for my image inpainting B-tech project , please send me as soon as possible.
              "abhiramchowdary.m99@gmail.com"

[2020-07-19 21:24] pathak22 commented on #81
Hi,

As mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset.

Thanks!
Deepak

[2020-07-19 21:24] #81 closed

[2020-07-19 21:25] pathak22 commented on #80
Hi,

As mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:25] #80 closed

[2020-07-19 21:26] pathak22 commented on #79
Hi,

As mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:26] #79 closed

[2020-07-19 21:26] pathak22 commented on #78
Hi,

As mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:26] #78 closed

[2020-07-19 21:26] pathak22 commented on #76
Hi,

As mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:26] #76 closed

[2020-07-19 21:26] pathak22 commented on #75
Hi,

As mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:26] #75 closed

[2020-07-19 21:26] pathak22 commented on #74
Hi,

As mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:26] #74 closed

[2020-07-19 21:26] pathak22 commented on #73
Hi,

As mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:26] #73 closed

[2020-07-19 21:26] pathak22 commented on #72
Hi,

As mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:26] #72 closed

[2020-07-19 21:26] pathak22 commented on #71
Hi,

As mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:26] #71 closed

[2020-07-19 21:27] pathak22 commented on #70
Hi,

As mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:27] #70 closed

[2020-07-19 21:27] pathak22 commented on #69
Hi,

As mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:27] #69 closed

[2020-07-19 21:27] pathak22 commented on #68
Hi,

As mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:27] #68 closed

[2020-07-19 21:27] pathak22 commented on #67
Hi,

As mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:27] #67 closed

[2020-07-19 21:27] pathak22 commented on #66
Hi,

As mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:27] #66 closed

[2020-07-19 21:27] pathak22 commented on #65
Hi Everyone,

As mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:27] #65 closed

[2020-07-19 21:28] pathak22 commented on #64
Hi Everyone,

As mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:28] #64 closed

[2020-07-19 21:28] pathak22 commented on #63
Hi,

Sorry for the late reply here. As I mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:28] #63 closed

[2020-07-19 21:28] pathak22 commented on #62
Hi,

Sorry for the late reply here. As I mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:28] #62 closed

[2020-07-19 21:28] pathak22 commented on #61
Hi,

Sorry for the late reply here. As I mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:28] #61 closed

[2020-07-19 21:28] pathak22 commented on #60
Hi,

Sorry for the late reply here. As I mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:28] #60 closed

[2020-07-19 21:29] pathak22 commented on #59
Hi,

Sorry for the late reply here. As I mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:29] #59 closed

[2020-07-19 21:29] pathak22 commented on #58
Hi,

Sorry for the late reply here. As I mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:29] #58 closed

[2020-07-19 21:29] pathak22 commented on #57
Hi,

Sorry for the late reply here. As I mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:29] #57 closed

[2020-07-19 21:29] pathak22 commented on #55
Hi,

Sorry for the late reply here. As I mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:29] #55 closed

[2020-07-19 21:29] pathak22 commented on #54
Hi,

Sorry for the late reply here. As I mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:29] #54 closed

[2020-07-19 21:29] pathak22 commented on #52
Hi,

Sorry for the late reply here. As I mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:29] #52 closed

[2020-07-19 21:29] pathak22 commented on #51
Hi,

Sorry for the late reply here. As I mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:29] #51 closed

[2020-07-19 21:30] pathak22 commented on #49
Hi,

Sorry for the late reply here. As I mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:30] #49 closed

[2020-07-19 21:30] pathak22 commented on #48
Hi,

Sorry for the late reply here. As I mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:30] #48 closed

[2020-07-19 21:30] pathak22 commented on #47
Hi Everyone,

Really sorry for the late reply here. As I mentioned [here](https://github.com/pathak22/context-encoder#6-paris-street-view-dataset), please send me an [email](https://www.cs.cmu.edu/~dpathak/) to get access to the dataset. I will reply with a shared link. Thanks!

Best,
Deepak

[2020-07-19 21:30] #47 closed

[2020-07-20 03:39] gina7152316 commented on #47
﻿Hey, thanks for offering dataset, my email is: gina7152316@gmail.com.
I’m Sorry to get back to you so late.

[2020-07-20 05:11] yabg-shuai666 commented on #71
Hi，I'm trying some algorithms of image restoration. Can you provide a data set of Paris StreetView dataset?Thanks.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "pathak22/context-encoder"

[2020-07-21 07:31] lilili666-hit commented on #75
Email :  aszhanghuali@gmail.com
thanks!

[2020-07-26 04:38] yldcs commented on #24
Hi Pathak,
I am working on Image inpainting. Can you share the dataset? My e-mail: yashuwangchao@gmail.com

[2020-07-27 03:23] wasedawesley commented on #24
Hi Pathak, I would like to work on image inpainting and i need the dataset to train several model architectures.Can you share the dataset through a private link in my email address.Thank you.

Email :  chinawxwx@gmail.com

[2020-08-04 10:28] manlupanshan commented on #24
Hi Pathak,
I am doing research  related to  Image inpainting. Can you share the dataset with me ? My e-mail:  1033724768@qq.com or zhangqinghan667966@gmail.com. thank you a lot!!!

[2020-08-18 07:12] blackpill commented on #24
Hi Pathak,
I am currently working on image inpainting algorothim and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email: blackpill@msn.com

[2020-08-18 07:29] manlupanshan commented on #24
thank you very much!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "pathak22/context-encoder"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年8月18日(星期二) 下午3:12
收件人:&nbsp;"pathak22/contex

[2020-08-24 08:53] moonseokho85 commented on #24
Hi Pathak,

I am doing research related to image inpainting, but there is no such Paris StreetView Dataset, please share your dataset with me, thank you a lot. My e-mail: mseokho7733@gmail.com

[2020-08-27 03:06] juechen-zzz commented on #24
Hi Pathak,
I am currently learning image inpainting algorothim and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email: komorebi.hpni@gmail.com

[2020-08-28 07:22] ugotsuyokunaru commented on #24
Hi Pathak,
I am currently learning image inpainting algorothim and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email: ugoyoyo123@gmail.com

[2020-08-28 09:26] ewrfcas commented on #24
Hi Pathak,
I am currently learning image inpainting algorothim and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email: ccjdurandal422@163.com

[2020-09-08 20:26] perluncha2015 commented on #24
Hi Pathak, I am currently learning image inpainting algorothim and trying to train several model architectures, can you share the dataset through a private link in my email address. Thank you!!!
E-mail：perluncha2015@gmail.com

[2020-09-10 08:02] developerTae commented on #24
Hi Pathak, I am currently working on image inpainting algorithm and trying to train several model architectures. Can you share the dataset through a private link in my email address.Thank you.
E-mail：pts322@gmail.com

[2020-09-17 08:58] wangshuo2020 commented on #24
Hi Pathak,
I am currently working on image inpainting algorithms and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email: 1905549237@qq.com

[2020-09-20 13:45] Z-Zheng commented on #24
Hi Pathak,
I am currently working on image inpainting algorithms and trying to train several model architectures.
Could you share the dataset through a private link in my email address?
That would be really great.
Thanks.
Email: zhuozheng2017@gmail.com

[2020-09-26 03:21] HuanSuper commented on #24
Hi Pathak,
I am currently working on image inpainting algorithms and trying to train several models.
Could you share the dataset through a private link in my email address?

Thanks.
Email: huanzheng1998@gmail.com

[2020-09-28 07:10] herbiezhao commented on #24
Hi Pathak,
I am currently working on image inpainting algorithms and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email: herbiezhao@163.com

[2020-09-29 00:57] yzfly commented on #24
Hi Pathak,
I am currently working on image inpainting algorithms and trying to train several model architectures.
Can you share the dataset through a private link in my email address.
That would be really great.
Thanks.
Email: yzliu.me@gmail.com

[2020-10-08 04:20] zengxianyu commented on #24
Hi Pathak,
I am currently working on image inpainting algorithms and trying to train several model architectures.
Can you share the dataset through a private link in my email address.
That would be really great.
Thanks.
Email: zengxianyu18@qq.com

[2020-10-15 13:11] Kevinkevin189 commented on #24
Hi Pathak,
I am currently working on image inpainting algorithms and trying to train several model architectures.
Can you share the dataset through a private link in my email address.
That would be really great.
Thanks.
Email: Kevinkevin189@gmail.com

[2020-10-19 05:35] 2019csm1003 commented on #24
Hi Pathak！ I am currently working on image inpainting algorithm and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. my email address : charankanwal9999@gmail.com

[2020-10-25 05:57] GODGANG4885 commented on #24
Hi Pathak,
I am currently working on image inpainting algorothim and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email: godgang@sogang.ac.kr

[2020-10-28 11:00] ewrfcas commented on #24
Hi Pathak,
I am currently learning image inpainting algorothim and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email: 424285814@qq.com

[2020-10-29 09:58] zizo007 commented on #24
Hi,
I'm currently working on image inpainting. Could you share the dataset through a private link?
email: zizo@inf.u-szeged.hu
Thanks!

[2020-11-14 02:47] Moran232 commented on #24
Hi Pathak,
I am currently learning image inpainting algorothim and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email: zmq232@126.com

[2020-11-22 10:56] Cristo-R commented on #56
me either

[2020-11-24 07:12] kiet13 commented on #24
Hi Pathak,
I am currently working on my graduation thesis and trying to train several model architectures. Can you share the dataset through a private link in my email address? That would be really great. Thanks.
Email: kiet13.itus@gmail.com

[2020-11-30 05:09] Kwan-Yiu commented on #24
Hi Pathak,
I am currently working on my image inpainting algorithm. Can you share the dataset through a private link in my email address. Thanks so much. Email : idjyiq@gmail.com

[2020-12-15 14:28] rafaelatantya commented on #24
Hi Pathak,
I am currently working on an image inpainting algorithm and trying to train several model architectures. Can you share the dataset through a private link in my email address? That would be really great. Thanks.
Email: rafael.roycorico@gmail.com

[2020-12-16 07:19] wj320 commented on #24
Hi Pathak,
I am currently working on an image inpainting algorithm and trying to train several model architectures. Can you share the dataset through a private link in my email address? That would be really great. Thanks!!!
Email: j_wang320@163.com

[2020-12-19 12:02] mrzb1378 commented on #24
Hi Pathak,
I am currently working on image inpainting and trying to train several model architectures.
I would appreciate it if  you can share the dataset through a private link in my email address.
Thank you very much!
Email: 821367415@qq.com

[2020-12-20 21:18] russab0 commented on #36
@harshithabk any details?
I have faced the same problem when trying to run the model on a different dataset. The reconstructed area is simply 16 blocks (attached the example)

![0025500](https://user-images.githubusercontent.com/16399704/102724629-f5197480-4321-11eb-9a20-db5ae9bea749.png)

[2020-12-20 21:25] russab0 commented on #50
There is a [GitHub repository](https://github.com/eriklindernoren/PyTorch-GAN), you may get some insights from that. But there are some differences with the original code (tt least, num_epochs and reconstruction loss differ)

[2020-12-31 06:35] zmaomia commented on #24
Hi Pathak,
I am currently working on image inpainting and trying to train several model architectures. Would you plz share the dataset through a private link in my email address? That would be really great. Thanks.
Email: maoz@whu.edu.cn

[2021-01-09 13:05] ljrprocc commented on #24
Hi Pathak,
I'm currently working on image inapinting and trying to train several architectures. Can you share the dataset through a private link in my email address? That would help me a lot. Thanks so much.
Email: jrlees@zju.edu.cn

[2021-01-11 08:18] CAIJI-wang commented on #24
Hi Pathak,
I am currently working on image inpainting and trying to train several model architectures. Would you plz share the dataset through a private link in my email address? That would be really great. Thanks.
Email: 1085220997@qq.com

[2021-01-11 08:19] CAIJI-wang commented on #24
Hi Pathak,
I am currently working on image inpainting and trying to train several model architectures. Would you plz share the dataset through a private link in my email address? That would be really great. Thank you  very much.
Email: 1085220997@qq.com

[2021-01-11 10:53] lizhihao98 commented on #24
Hi Pathak,
I am currently working on image inpainting and trying to train several model architectures. Would you plz share the dataset with me through a private link to my email address? That would be really nice. Thank you very much.
Email: 625186014@qq.com

[2021-01-14 08:02] 01build commented on #24
Hi Pathak,
I am currently working on my image inpainting algorithm. Can you share the paris streetview
dataset through a private link in my email address. Thanks so much. Email : 1483079457@qq.com

[2021-01-14 08:21] 01build opened #82 "Dataset"
Hi，I'm trying some algorithms of image restoration. Can you provide a data set of Paris StreetView dataset?Thanks,My e-mail address is 1483079457@qq.com

[2021-01-24 04:28] Harcurio commented on #56
http://www.cs.berkeley.edu/~pathak/context_encoder/resources/inpaintCenterModels.tar.gz you can download directly the file from there.

[2021-02-12 16:51] Raphi90 commented on #24
Hi Pathak,
I don't know any better request than "Hi Pathak,
I am currently working on image inpainting and trying to train several model architectures. Would you plz share the dataset with me through a private link to my email address? That would be really nice. Thank you very much."
But so it is... E-Mail: lermer@hm.edu

[2021-02-27 13:53] wywywy01 commented on #24
Hi Pathak,
I am currently working on my image inpainting algorithm. Can you share the paris streetview
dataset through a private link in my email address. Thanks so much. Email : 853785754@qq.com

[2021-02-27 16:23] LiYanan2004 commented on #82
Hi，I'm trying some algorithms of image restoration. Can you provide a data set of Paris StreetView dataset?Thanks,My e-mail address is 1474700628@qq.com

Best，
Li

[2021-02-28 15:08] yukikazenanodesu commented on #82
Hi，I'm trying some algorithms of image restoration. Can you provide a data set of Paris StreetView dataset?Thanks,My e-mail address is daswa@foxmail.com

[2021-03-03 13:08] feathernox commented on #24
Hi Pathak,
I am currently working on image inpainting and trying to train several model architectures. Would you plz share the dataset with me through a private link to my email address? That would be really nice. Thank you very much.
Email: nremizova25@gmail.com

[2021-03-04 02:02] TonyzBi commented on #24
Hi Pathak,
I am currently working on an image inpainting algorithm and trying to train several model architectures. Could you share the dataset through a private link in my email address? That would be really great. Thanks a lot.
Email: hai_bi@163.com

[2021-03-05 12:43] WangZhikuan98 commented on #24
Hi Pathak,
I am currently working on an image inpainting algorithm and trying to train several model architectures. Could you share the dataset through a private link in my email address? That would be really great.My email: zhikuanupc@163.com    Thanks a lot!

[2021-03-08 17:30] HeMingyan commented on #24
Hi Pathak,
I am currently working on image inpainting and trying to train several model architectures. Would you plz share the dataset with me through a private link to my email address? That would be really nice. Thank you very much.
Email: 1106834964@qq.com

[2021-03-09 01:07] Li-Xiaoguang commented on #24
Hi Pathak
Could you please share the Paris Streetview dataset through a private link in my email address? I will very much appreciate that.
My email: lxgzrq@gmail.com Thanks a lot!

[2021-03-09 02:38] shangcai1 commented on #82
Hi，I'm trying some algorithms of image restoration. Can you provide a data set of Paris StreetView dataset?Thanks,My e-mail address is 1147626517@qq.com

[2021-03-15 13:48] fzdzz commented on #24
Hi Pathak,
I'm currently working on image inapinting and trying to train several architectures. Can you share the dataset through a private link in my email address? That would help me a lot. Thanks a lot.
Email: 1721097664@qq.com

[2021-03-16 07:34] vijay1089 commented on #24
Hi Pathak,
I am currently working on an image inpainting algorithm and trying to train several model architectures. Could you share the dataset through a private link in my email address? That would be really great. Thanks a lot.
Email: vmg10111989@gmail.com

[2021-03-16 16:24] THULinJiaqi commented on #24
Hi Pathak,
Could you please share the Paris StreetView Dataset through a private link in my email address? I will very much appreciate that.
My email: rongakushin@gmail.com Thanks a lot!

[2021-03-17 05:48] vijay1089 commented on #24
Thank you so much :)

On Tue, 16 Mar 2021 at 21:55, 1180500707 ***@***.***> wrote:

[2021-03-29 04:33] PolarbearYang commented on #24
Hi Pathak,
I am currently working on image inpainting algorithms and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks a lot!
Email: [1434367219@qq.com](1434367219@qq.com)

[2021-03-29 07:43] CyrilCsy commented on #24
Hi Pathak,
I am currently working on image inpainting algorithms and trying to train several model architectures.
Could you share the dataset through a private link in my email address?
That would be really great.
Thanks.
Email: cyrilcsy@gmail.com

[2021-03-31 07:24] zqyzzz commented on #82
Hi，I'm trying some algorithms of image restoration. Can you provide a data set of Paris StreetView dataset?Thanks,My e-mail address is zhouqinye@sjtu.edu.cn

[2021-04-02 08:11] luobo348 commented on #82
Hi，I'm trying some algorithms of image restoration. Can you provide a data set of Paris StreetView dataset?Thanks,My e-mail address is luobo348@163.com

[2021-04-07 06:27] umbrella2521 opened #83 "Dataset requirement"
Hi，I'm trying some algorithms of image restoration. Can you provide a data set of Paris StreetView dataset?Thanks,My e-mail address is 1849523917@qq.com

Best，
Chen

[2021-04-12 02:56] wodedow commented on #24
Can you still post it now? I've been looking for it for a long long time.
Thanks.
Email: xuggux@qq.com

[2021-04-12 07:31] jottue commented on #82
Hi，I'm trying some algorithms of image inpainting. Can you provide a data set of Paris StreetView dataset? Thanks,My e-mail address is juunnho@gmail.com

[2021-04-13 05:48] jottue commented on #24
Hi Pathak,
I am currently working on image inpainting. can you share the dataset through a private link in my email addres? Thanks very much.
Email: jottue@ispl.snu.ac.kr

[2021-04-13 08:04] HongHyukjin commented on #24
Hi Pathak,
I am currently working on image inpainting. can you share the dataset through a private link in my email addres? Thanks very much.
Email: 2016305085@skuniv.ac.kr

[2021-04-15 05:43] Juh-yun commented on #24
Hi Pathak,
I am currently working on image inpainting and trying to train several model architectures. Would you please share the Paris Street View dataset with me through a private link to my email address? Thank you so much !

Email : kjhyun18@gmail.com

[2021-04-16 13:29] yongyunlu opened #84 "dataset requirement"
Hi Pathak,
I am currently working on image inpainting algorithms. Can you share the dataset link by my email address. That would be really great. Thanks.My e-mail address is 315372461@qq.com
best wish you

[2021-04-24 03:09] Mercersi commented on #24
Hi Pathak,
I am currently working on image inpainting and trying to train several model architectures. Would you please share the Paris Street View dataset with me through a private link to my email address? Thank you so much !

My email: hevaler197@gmail.com

[2021-04-24 04:48] wonozlo commented on #24
Hi Pathak,
I am currently working on image inpainting. can you share the dataset through a private link in my email addres? Thanks very much.
Email: wyong0122@gmail.com

[2021-04-30 07:55] Yanting-K commented on #24
Hi Pathak,
I am currently working on image inpainting algorothim and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks so much. e-mail:1286246331@qq.com

[2021-05-10 08:54] abdelrahman-muhamed commented on #24
Hi Pathak,
I am currently working on image inpainting and trying to train several model architectures. Would you please share the Paris Street View dataset with me through a private link to my email address? Thank you so much !Email:  abdelrahman.moh27@gmail.com

[2021-05-12 08:52] shivamsharma1031 commented on #24
Hey Pathak! Can you please share the dataset with me. My email is s_sharma@cs.iitr.ac.in . I need it for my thesis work regarding "Context Encoders: Feature Learning by Inpainting" paper. Your efforts will be much appreciated.

[2021-05-21 07:41] MKFxxL opened #85 "about dataset"
Hi Pathak,

We are currently doing some research about image inpainting, and we need to use Paris Street-View Dataset. We would appreciate if you can share the dataset to us. My email address is faslsun@gmail.com. Thank you.

Best Regards

[2021-05-27 12:09] chewie501st commented on #24
Hello Pathak,
I'm currently conducting research on image inpainting algorithms and trying to validate my network architecture. Could you share the dataset through a private link in my email address. That would be really generous. Thanks!
Email: galaxyfarfaraway1031@gmail.com

[2021-06-14 09:03] lixiaocong-svg commented on #82
Hi，I'm trying some algorithms of image restoration. Can you provide a data set of Paris StreetView dataset?Thanks,My e-mail address is 3239386545@qq.com

[2021-06-15 12:07] xiaollz commented on #24
Hello Pathak,
I'm currently conducting research on image inpainting algorithms and trying to validate my network architecture. Could you share the dataset through a private link in my email address. That would be really generous. Thanks!
Email: fosterthecloud@me.com

[2021-06-18 08:05] Carateffee commented on #24
Hi Pathak,
I am currently working on image inpainting and trying to train several models. Can you please share the dataset with me? That would be really helpful! Thanks very much.
Email:carateffee@gmail.com

[2021-06-20 11:27] df720 commented on #82
Hi，I'm trying some algorithms of image restoration. Can you provide a data set of Paris StreetView dataset?Thanks,My e-mail address is 2697186089@qq.com

[2021-06-24 12:25] usr-ein commented on #24
Hi Pathak,
I am currently working on reproducing image inpainting models. Could you share the dataset through a private link to my email address? Thanks very much.

Email: samuel@designstripe.com

[2021-06-26 03:00] Chenj09 commented on #24
Hi Pathak,
I am currently working on reproducing image inpainting models. Could you share the dataset through a private link to my email address? Thanks very much.
Email：1512772462@qq.com

[2021-06-30 02:54] Gofinge commented on #24
Hi Pathak,
I am currently working on image inpainting and trying to train several models. Can you please share the dataset with me? That would be really helpful! Thanks very much.
Email:gofinge.98@gmail.com

[2021-07-09 08:50] tang-hy commented on #24
Hello Pathak,
I am currently working on image inpainting. Can you share the dataset through a private link in my email address.
Thank you.
Email: thutanghy@gmail.com

[2021-07-12 03:24] zouzouwei opened #86 "dataset requestment"
Hi Pathak,
I am currently working on image inpainting algorithms. Can you share the dataset link by my email address. That would be really great. Thanks.My e-mail address is 853971768@qq.com or hy2056947336@gmail.com
best wish you

[2021-07-21 13:06] z2liudake commented on #24
Hello Pathak,
I am currently working on image inpainting. Can you share the dataset through a private link in my email address.
Thank you.
Email: liuqi.scu.cs@gmail.com

[2021-07-23 07:16] samsara-ku commented on #56
This link is also expired. Where I can download it?

[2021-07-26 07:13] naoki7090624 commented on #24
Hello Pathak,
I'm currently working on image inpainting. Could you share the dataset through a private link in my email address?
Email: naoki7090624@gmail.com
Thanks!

[2021-08-10 03:30] yongchen93 commented on #24
Hi Pathak,

I'm wondering if you could kindly share the dataset link thru email since i am working on image inpainting as well recently.
Email: huangyongchen93@gmail.com

Great many Thanks!

[2021-08-11 07:31] GuardSkill commented on #24
Hi Pathak,
I am working on image inpainting and need these images as training datasets badly. Could you please share a link with me? Thanks a lot!
Email: 497291093@qq.com

[2021-08-12 12:18] XuLingLong opened #87 "Dataset requirement"
Hi Pathak,
I am currently working on image inpainting algorithms. Can you share the dataset link by my email address. That would be really great. Thanks.
My e-mail address is 2374623265@qq.com or xulinglong666@gmail.com
best wish you

[2021-08-31 11:26] strsu commented on #24
Hello @pathak22

While studying image inpainting, I am doing experiments by looking at various models and fixing them. I'd like to experiment with the Paris Streets View dataset as well, can you share the dataset?
Email: jolie0215@gmail.com

Thank You :)

[2021-09-01 17:33] Chaimae-AAJAL commented on #24
please can you share the datasets chaimae@lsoft.fr

[2021-09-02 15:38] zyh16143998882 opened #88 "Dataset requirement"
Hi Pathak,

I am doing some research about image inpainting, and I need to use Paris Street-View Dataset. I would appreciate if you can share the dataset. My email address is chayh21@mails.tsinghua.edu.cn. Thank you.

Best Regards

[2021-09-06 07:08] Yangchengyu0206 commented on #24
Hello Pathak,
I'm currently working on image inpainting. Could you share the dataset through a private link in my email address?
Email: chengyu072@gmail.com
Thanks!

[2021-09-12 09:30] GooDrYu opened #89 "Dataset requirement"
Hi Pathak,

I am a student of Peking University, i am also doing some research about image inpainting, and I need to use Paris Street-View Dataset. I would appreciate if you can share the dataset. My email address is 2101212842@stu.pku.edu.cn     Thank you!

Best Regards

[2021-09-16 16:05] Erizu91 opened #90 "Image quality"
Hello, I have tried to develop the code but I get very poor quality images, I don't know if the problem is latent space.

How did you ensure that the reconstruction of the images does not affect the quality?

[2021-09-22 07:11] JHang2020 commented on #24
Hello Pathak,
Could you share the dataset through a private link in my email address?
Email: 2806089171@qq.com
Thanks!

[2021-09-24 11:06] yangjiamingQAQ commented on #24
Hello Pathak,
Could you share the dataset through a private link in my email address?
Email: yjm1244@163.com
Thanks!

[2021-09-24 11:28] yangjiamingQAQ opened #91 "datasets request"

[2021-09-29 09:35] 01SHENyankun opened #92 "dataset request"
Hi Pathak,

I am doing some research about image inpainting, and I need to use Paris Street-View Dataset. I would appreciate if you can share the dataset. My email address is 2635505974@qq.com Thank you.

Best Regards

[2021-10-08 15:37] SebastianSRL commented on #24
Hello Pathak,
I am currently working on image inpainting. Can you share the dataset through a private link in my email address.
Thank you.
Email: sebastian.rivera.leon2000@gmail.com

[2021-10-11 13:56] comzzw commented on #24
Hello Pathak,
I am working on image inpainting and need these images as training datasets badly. Could you please share a link with me? Thanks a lot!
my Email:zzwcs@zju.edu.cn

[2021-10-11 19:00] Gaurav37 commented on #24
Hi Pathak,

Hope you are doing great.
It would be great if you can share a link to "Paris Street View dataset" or the dataset itself for image inpainting.

Thanks
Gaurav
Email: gauravsingh4293@gmail.com

[2021-10-12 06:36] RobinLiuZX commented on #24
Hi Pathak,

Hope you are doing great.
It would be great if you can share a link to "Paris Street View dataset" or the dataset itself for image inpainting.

Thanks
Gaurav
Email: liu1175065909@gmail.com

[2021-10-12 10:50] easternCar opened #93 "Paris Street-view Dataset request"
Hi Pathak.
I am interested about image inpainting field. I noticed that many researches are employing Paris Street-View dataset in their inpainting tasks. It would be thankful if you can share the Paris Street-View dataset. My e-mail address is cardongmin@postech.ac.kr

Best Regards.

[2021-10-12 12:07] sangsinhisme opened #94 "Dataset Request"
Could you send me this dataset link, I am a student and need this data set to begin research about image inpainting, thank you！
sangsinh789@gmail.com

[2021-10-14 03:31] Zwette commented on #24
Hi, I am working at the image inpainting. Could you please share the "Paris StreetView" dataset to me? My email address is easquelhuang@gmail.com. Thanks a lot!

[2021-10-19 12:14] Cameltr opened #95 "Dataset Request"
Hi Pathak,

I am doing some research about image inpainting, and I need to use Paris Street-View Dataset. I would appreciate if you can share the dataset. My email address is cameltr@whu.edu.cn. Thank you very much！

Best Regards

[2021-10-20 11:16] pengbo7777 opened #96 "Data request"
Hi Pathak,

I am a student, i am doing some research about image inpainting, and I need to use Paris Street-View Dataset. I would appreciate if you can share the dataset. My email address is 19110240051@fudan.edu.cn Thank you!

Best Regards

[2021-10-21 04:44] 2Hansol commented on #24
Hi Pathak,

I am working on image inpainting and need these images as training datasets. Could you share the dataset through a private link in my emial??

Thanks!
Hansol Lee

Email : hansol2651@gmail.com

[2021-10-27 06:58] powder21 commented on #24
Hi Pathak, could you share a link to "Paris Street View dataset" and send to Email: sxu@mail.ustc.edu.cn.

Thanks
Larry

[2021-11-02 02:51] LuckyPick commented on #24
Hi Pathak,

I am working on image inpainting and need these images as training datasets. Could you please share the "Paris StreetView" dataset to me? Hope everything goes your way.

Thanks!!~
Email: liujianwen@snnu.edu.cn

[2021-11-02 09:54] t109598002 commented on #24
Hi Pathak,
could you share a link to "Paris Street View Dataset" and send to Email: t109598002@ntut.edu.tw

Thanks!!

[2021-11-04 15:59] bob292 commented on #24
Hello Pathak,

I am recently working on a image inpainting project, could you please share the "Paris StreetView" with me.

Thanks in advance!
My Email:shenxiayue@outlook.com

[2021-11-05 07:25] qyn0729 commented on #24
Hi Pathak, would you please share a link to "Paris Street View dataset" and send to Email: ynqiu21@m.fudan.edu.cn.

Thanks so much!

[2021-11-08 12:20] Jaxmolukou commented on #24
Hi Pathak, I currently dealing with image inpainting, could you please share the link to "Paris Street View dataset" and send it to Email:zhoumin@shu.edu.cn
Thanks a lot !

[2021-11-12 07:17] BupyeongHealer commented on #24
Hi Pathak,
Could you share the dataset through a link in my email?

Thanks!
Email : hello96min@unist.ac.kr

[2021-11-13 11:27] 7568 commented on #24
Hi Pathak,
could you share a link to "Paris Street View Dataset" and send to Email:  liyu2020@email.szu.edu.cn

Thanks!!

[2021-11-16 13:47] DJHHAPPY commented on #24
Hi Pathak, would you please share a link to "Paris Street View dataset" and send to Email: 1774953425@qq.com

Thanks so much!!

[2021-11-16 13:51] fire2fire2 commented on #24
Hi Pathak, would you please share a link to "Paris Street View dataset" and send to Email: 1774953425@qq.com

Thanks so much!!

[2021-11-17 09:01] samsara-ku opened #97 "Dataset request"
Hi, Pathak.

I am a student, i am doing some research about image inpainting, and I need to use Paris Street-View Dataset. I would appreciate if you can share the dataset. My email address is gyh0316@gmail.com Thank you!

Best Regards.

[2021-11-17 09:03] samsara-ku commented on #24
Hi Pathak, would you please share a link to "Paris Street View dataset" and send to Email: kks6716@unist.ac.kr

Thanks so much!!

[2021-11-18 11:53] Michael-sxf commented on #24
Hi Pathak,
I am currently working on image inpainting algorithms and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
My Email: shaoxiaofeng@swfu.edu.cn

[2021-11-22 01:11] all1new commented on #24
Hi Pathak,
I am currently working on image inpainting algorithms and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
My Email: 1090207147@qq.com

[2021-11-22 02:52] yw981 commented on #24
Hello Mr. Pathak,
I hope I could train my model with your Paris Street-View Dataset.
Would you please share with me a download link?
Thanks

Email:
[yw981@sina.com](mailto:yw981@sina.com)

[2021-11-22 21:12] cyberLolek commented on #24
Hi Pathak,
I am currently working on image inpainting. Can you share the dataset through a private link in my email address. Thank you in advance!
Email: salamandra85@o2.pl

[2021-11-24 08:05] Ghorc opened #98 "Dataset Request"
Hi, Pathak.
I am a student and I want to use Paris Street-View Dataset on my task. Could please share the dataset to me. I I would appreciate it. My e-mail address is 1035597470@qq.com. Thank you!

[2021-11-26 08:28] Cqkkkkkk commented on #24
Hi Pathak,
I am currently working on image inpainting issues, could you please share the Paris Street view dataset via a link or something? My email is chenqink@outlook.com
Thank you so much!

[2021-11-28 13:42] LonglongaaaGo commented on #24
Hi Pathak,
I am currently working on image inpainting issues, could you please share the Paris Street view dataset via a link or something? My email is wanglongl@mun.ca
Thank you so much!

[2021-12-01 06:43] htyj123 commented on #24
Hi Pathak,
I am currently working on image inpainting issues, could you please share the Paris Street view dataset via a link or something? My email is hpliu_hfut@hotmail.com
Thank you so much!

[2021-12-01 06:43] htyj123 commented on #24
Hi Pathak,
I am currently working on image inpainting issues, could you please share the Paris Street view dataset via a link or something? My email is hpliu_hfut@hotmail.com
Thank you so much!

[2021-12-01 18:08] Elendor11 commented on #24
Hi Pathak,
My apologies for bothering you about this, I'm sure you get a lot of requests.
I'm working on a year project about inpainting and I am mainly missing the Paris Streetview testset.
My email is raymond.bultynck@ugent.be.

[2021-12-08 03:40] gargatik commented on #24
Hello Pathak,
I am working on inapinting alogrithms. I am testing perfomance of my algorithm for the diffrent inpaining datasets, could you please share the download link for the Paris Streetview dataset.
My email is gargatik@gmail.com
Thank you so much

[2021-12-08 03:41] LiYanan2004 commented on #24
您的邮件我已收到，谢谢！QQ：1474700628

[2021-12-15 13:50] ncherel commented on #24
Hello,
Could you please send me the link to your Paris Streetview dataset at cherel@telecom-paris.fr ?
Thank you very much

[2021-12-19 11:28] harsh-sengar commented on #24
Hi Pathak,
I am currently working on image inpainting algorothim and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email: hrshsengar20@iitk.ac.in

[2021-12-21 03:16] BenjamiNnnn opened #99 "How to use the channel-wise FC?"
Thanks to your share, but I do not see the code about channel-wise FC in your paper. give me back pleaz.

[2021-12-22 19:28] RosNayak commented on #24
Hi Pathak,
I am currently working on image inpainting algorithm as a part of a project and trying to train a model architecture for the same. Can you share the dataset through a private link in my email address. That would be really help. Thank you.
Here is my Email: roshannayak610@gmail.com

[2021-12-23 01:58] acyddl commented on #24
Hi Pathak,I am currently working on image inpainting algorothim and trying to train several model architectures,Can you share the dataset through a private link in my email address.Thank you.
E-mail：1969436591@qq.com

[2021-12-23 05:40] Kyeonga-Kim commented on #24
Hi @pathak22, I am currently working on image inpainting algoriothm and trying to train several model architectures, Can you share the dataset through a private link in my email address. Thanks. Have a good day :)
E-mail : kka960602@gmail.com

[2021-12-23 13:54] MinhNhat-Aug27 commented on #24
Hi @pathak22, I am currently working on image inpainting algorithms and trying to train several model architectures, Can you share the dataset through a private link in my email address. Thanks. Have a good day :)
E-mail : minhnhatnguyen278@gmail.com

[2021-12-24 03:01] acyddl commented on #24
Hi @pathak22, I am currently working on image inpainting algorithms and trying to train several model architectures, Can you share the dataset through a private link in my email address. Thanks. Have a good day.
E-mail : 1969436591@qq.com

[2021-12-24 16:07] stay-cnsj opened #100 "data request"
Could you send the link of Paris Street-View dataset to 675627966@qq.com. Thanks a lot

[2021-12-26 01:25] acyddl commented on #24
Hi @pathak22, I am currently working on image inpainting algorithms and trying to train several model architectures, Can you share the dataset through a private link in my email address. Thanks. Have a good day :)
E-mail：lgy19982019160@163.com

[2021-12-26 02:35] vipnhy commented on #24
Hi Pathak, I currently want to train some image inapinting algorithm, Could you please share the dataset through a private link in my email address. Thanks.
E-mail :  lgy18392662129@163.com

[2021-12-26 04:06] youarenotaloneor opened #101 "dataset request"
Could you send the link of Paris Street-View dataset to 1554435955@qq.com. Thanks a lot

[2021-12-27 08:42] HuilaiLiang commented on #24
Hi @pathak22, I am currently working on image inpainting algorithms and trying to train several model architectures, Can you share the dataset through a private link in my email address. Thanks. Have a good day :)
E-mail：lianghuilaijy@163.com

[2021-12-27 09:01] HuilaiLiang commented on #24
Hi Pathak,
I am currently working on image inpainting algorothim and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks so much. E-mail：2279753641@qq.com

[2021-12-27 12:47] ZFhuang commented on #24
Hi @pathak22, I am currently working on image inpainting algoriothm and trying to train several model architectures, Can you share the dataset through a private link in my email address. Thanks. Have a good day :)
E-mail : huangsnake@gmail.com

[2021-12-28 08:40] sunyoki commented on #24
I am currently working on image inpainting algoriothm and trying to train several model architectures, Can you share the dataset through a private link in my email address. Thanks. Have a good day :)
E-mail : 39471238@qq.com

[2021-12-29 05:48] JK-the-Ko commented on #24
Hi @pathak22, I am currently working on image inpainting algorithm and trying to train several model architectures, Can you share the dataset through a private link in my email address. Thanks. Have a good day :)
E-mail : rhworbs1124@naver.com

[2021-12-29 05:49] sunyoki commented on #24
  您好，邮件已收到,感谢您的来信！
                                                      

                                                                      _末页

[2021-12-31 06:15] ruiwu-ch commented on #24
Hi @pathak22, I am currently working on image inpainting algorithm and trying to train several model architectures, Can you share the dataset through a private link in my email address. Thanks. Have a good day :)
E-mail : wr597155@163.com

[2022-01-12 03:26] Iraanol opened #102 "[ASK} Paris Street-view dataset"
Hi Pathak,
I am currently working on an image inpainting algorithm and trying to train several model architectures. Can you share the dataset through a private link to my email address? That would be really great. Thanks.
email : irawati.ns@gmail.com

[2022-01-12 03:26] LiYanan2004 commented on #102
您的邮件我已收到，谢谢！QQ：1474700628

[2022-01-17 14:57] Genevahu commented on #24
Hi @pathak22, I am currently working on image inpainting algorithm and trying to train several model architectures, Can you share the dataset through a private link in my email address. Thanks. Have a good day :)
E-mail : absintehu@gmail.com

[2022-01-17 14:58] Genevahu commented on #24
Hi @pathak22, I am currently working on image inpainting algorithm and trying to train several model architectures, Can you share the dataset through a private link in my email address. Thanks. Have a good day :)
E-mail : absinthehu@gmail.com

[2022-01-17 14:58] sunyoki commented on #24
  您好，邮件已收到,感谢您的来信！
                                                      

                                                                      _末页

[2022-01-20 08:46] scintill-w commented on #24
Hello , @pathak22
I am currently working on image inpainting algorothim . Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email: wangzeyu2020@zju.edu.cn

[2022-01-21 02:02] ruiwu-ch commented on #24
收到，您的邮件

在 2022-01-20 16：46：54， "scintill-w" ***@***.***> 写道：

***@***.***
我目前正在研究图像内绘画算法。您可以通过我电子邮件地址中的私人链接共享数据集吗？那真的很棒。谢谢。
电子邮件： ***@***.***

-
直接回复此电子邮件，在GitHub上查看，或取消订阅。
使用适用于iOS或Android的 GitHub Mobile 随时随地对通知进行分类。
您收到此邮件是因为您发表了评论。Message ID: ***@***.***>

[2022-01-29 11:37] abhishek-1908 commented on #24
Hello, @pathak22
I am currently working on an image inpainting algorithm. Can you share the dataset through a private link to my email address? That would be really great. Thanks.
Email: abhishek.agarwal.cse19@iitbhu.ac.in

[2022-02-10 12:38] PENGHANGLI commented on #24
Hello , @pathak22
I am currently working on image inpainting algorothim . Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email:422217887@qq.com

[2022-02-24 16:26] UdonDa commented on #24
Hello , @pathak22
I am currently working on image inpainting algorothim . Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email:[udoon0727@gmail.com](mailto:udoon0727@gmail.com)

[2022-02-24 16:26] sunyoki commented on #24
  您好，邮件已收到,感谢您的来信！
                                                      

                                                                      _末页

[2022-02-27 03:16] jose13579 commented on #24
Hi Pathak,
I am currently working on image inpainting. can you share the dataset through a private link in my email address? Thanks very much.
Email: jluisflores357@gmail.com

[2022-03-02 05:02] lienfeng1011 commented on #24
Hi @pathak22 ！I am a beginner of image inpainting algorothim and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. my emai address : lienfeng1011@gmail.com

[2022-03-07 12:39] wsfwsf commented on #24
Hi @pathak22
I am currently working on image inpainting algorothim and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email:2078332215@qq.com

[2022-03-08 05:00] paymal opened #103 "dataset request"
Hi Pathak.
I am interested about image inpainting field. I noticed that many researches are employing Paris Street-View dataset in their inpainting tasks. It would be thankful if you can share the Paris Street-View dataset. My e-mail address is  yuanqmok@gmail.com

Best Regards.

[2022-03-08 05:44] wsfwsf commented on #102
Hi Pathak.
I am interested about image inpainting field. I noticed that many researches are employing Paris Street-View dataset in their inpainting tasks. It would be thankful if you can share the Paris Street-View dataset. My e-mail address is 2078332215@qq.com

Best Regards.

[2022-03-08 05:45] LiYanan2004 commented on #102
您的邮件我已收到，谢谢！QQ：1474700628

[2022-03-08 06:30] wsfwsf commented on #103
Hi Pathak.
I am interested about image inpainting field. I noticed that many researches are employing Paris Street-View dataset in their inpainting tasks. It would be thankful if you can share the Paris Street-View dataset. My e-mail address is 2078332215@qq.com

Best Regards.

[2022-03-09 06:47] shihaobai commented on #103
Hi Pathak.
I am interested about image inpainting field. I noticed that many researches are employing Paris Street-View dataset in their inpainting tasks. It would be thankful if you can share the Paris Street-View dataset. My e-mail address is [16061167@buaa.edu.cn](mailto:16061167@buaa.edu.cn)

Best Regards.

[2022-03-11 13:35] Jackieqfh143 commented on #24
Hello, @pathak22
I am also working on Image Inpainting. Would you mind sharing the Paris Street View dataset link with me? I will be very grateful for your kindness. My Email: kobejackie143@gmail.com

[2022-03-14 02:54] chaereem commented on #24
Hello, @pathak22
I am a student who is studying for a master's degree in Korea. Can I get Paris StreetView's data? I look forward to hearing from you. Thank you!
My email: cofla7572@gmail.com

[2022-03-16 03:35] aobi12138 commented on #103
Dear Pathak.
Thanks for sharing your idea and project. It would be excited if you can share the Paris Street-View dataset. My e-mail address is 443017511@qq.com.

Best Regards.

[2022-03-16 07:02] osofirene commented on #103
Dear Pathak.
I am interested in the image inpainting field. I noticed that many researchers are employing Paris Street-View dataset in their inpainting tasks. It would be thankful if you can share the Paris Street-View dataset. My e-mail address is 364665427@qq.com

Best Regards.

[2022-03-23 15:04] Chunbo28 commented on #24
Hello, @pathak22
I am currently working on image inpainting algorothim and trying to train several model architectures,Can you share the dataset through a private link in my email address.Thank you.
E-mail：[1244695449@qq.com](mailto:1244695449@qq.com)

[2022-03-23 17:00] Prithvi-Tripathy commented on #24
Hello @pathak22
I am currently working on image inpainting algorithm and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
E-mail: prithvi.tripathy@gmail.com

[2022-03-25 09:43] KSY-Catherine commented on #24
Hello @pathak22
I am currently working on image inpainting algorithm and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
E-mail:2018302050050@whu.edu.cn

[2022-03-27 13:13] ly15681910119 commented on #24
Hello @pathak22
I am currently working on image inpainting algorithm and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
E-mail:ly15681910119@gmail.com

[2022-03-29 13:38] dllearning commented on #24
Hello @pathak22
I am currently working on image inpainting algorithm and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
E-mail:2088174951@qq.com

[2022-03-30 01:47] Ellohiye commented on #103
Dear Pathak.
I am interested in the image inpainting field. I noticed that many researchers are employing Paris Street-View dataset in their inpainting tasks. It would be thankful if you can share the Paris Street-View dataset. My e-mail address is [3559640395@qq.com]

Best Regards.

[2022-04-03 11:55] chchshshhh commented on #24
Hello @pathak22
I am currently working on image inpainting algorithm and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
E-mail:1030154119@qq.com

[2022-04-04 13:26] Soukhindra commented on #24
Hi Pathak,
I am currently working on image inpainting algorithm and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email: [soukhindranathbasak@gmail.com](mailto:soukhindranathbasak@gmail.com)

[2022-04-09 04:33] namalieW commented on #24
Hi Pathak,
  I am a student working on an image inpainting research. Can you kindly share the Paris Street View dataset with me. Thank you very much.
Email:napriya2005@gmail.com

[2022-04-09 08:11] xue185 commented on #24
Hi Pathak,
I am a student working on an image inpainting research and trying to train my model . Can you kindly share the Paris Street View dataset with me.  I'll be grateful if you send me a dataset.Thanks.
Email:dataxue@163.com

[2022-04-10 10:15] Geeker9 commented on #102
Hi Pathak.
I am interested about image inpainting field. I noticed that many researches are employing Paris Street-View dataset in their inpainting tasks. It would be thankful if you can share the Paris Street-View dataset. My e-mail address is [2276246157@qq.com](mailto:2276246157@qq.com)

Best Regards.

[2022-04-10 10:15] LiYanan2004 commented on #102
您的邮件我已收到，谢谢！QQ：1474700628

[2022-04-11 01:53] Geeker9 commented on #103
Dear Pathak.
I am interested about image inpainting field. I noticed that many researches are employing Paris Street-View dataset in their inpainting tasks. It would be thankful if you can share the Paris Street-View dataset. My e-mail address is [2276246157@qq.com](mailto:2276246157@qq.com)

[2022-04-14 13:44] y2437liu commented on #103
Dear Pathak.
I am interested in image inpainting field. I noticed that many researchers are employing Paris Street-View dataset in their inpainting tasks. It would be thankful if you can share this dataset. My e-mail address is 944967805@qq.com

Best Regards.

[2022-04-15 12:12] Jamie-61 commented on #24
Hi Pathak,
I am currently working on image inpainting. can you share the dataset through a private link in my email address? Thanks very much.
Email: 2312688109@qq.com

[2022-04-19 10:07] AnshulKumrawat12 commented on #103
Hi Pathak,
I am currently working on image inpainting. can you share the dataset through a private link on my email address? Thanks very much.
Email: anshulk.iisc@gmail.com

[2022-04-20 08:25] pingggg0629 commented on #24
Hello @pathak22
I am currently working on image inpainting algorithm and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
E-mail: ping629.cs10@nycu.edu.tw

[2022-05-06 09:17] aoki-yuta commented on #24
Hello @pathak22
I am a student working on an image inpainting research. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email:[s17c3002ge@s.chibakoudai.jp](mailto:s17c3002ge@s.chibakoudai.jp)

[2022-05-06 09:18] sunyoki commented on #24
  您好，邮件已收到,感谢您的来信！
                                                      

                                                                      _末页

[2022-05-07 07:17] kiashann commented on #24
Hi Pathak,
I am currently working on image inpainting algorithms and trying to use different dataset. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email:f.mohammaad2000@gmail.com
@pathak22

[2022-05-09 09:11] jwc42 commented on #103
Hi Pathak.

I am interested in the image inpainting field and I would like to use the Paris Street View Dataset for my Masters Dissertation.
Thank you.

My e-mail address is: jwc42@bath.ac.uk

Best Regards.

[2022-05-09 12:17] jwc42 opened #104 "Dataset requirement"
Hi Pathak.

I am interested in the image inpainting field and I would like to use the Paris Street View Dataset for my Masters Dissertation.
Thank you.

My e-mail address is: jwc42@bath.ac.uk

Best Regards.

[2022-05-10 05:03] SumathiGnanasekaran commented on #24
Hi Pathak, I am Sumathi, Research Scholar. I am doing my PhD research in Image inpainting. I will be very greatful if you share your dataset to my email address. Awaiting with a positive hope to proceed my work. Kindly help me out pls...
Email: swasthik36@gmail.com

[2022-05-11 12:44] L-Ahh commented on #103
Hi Pathak.
I am interested about image inpainting field. I noticed that many researches are employing Paris Street-View dataset in their inpainting tasks. It would be thankful if you can share the Paris Street-View dataset. My e-mail address is: 1156374311@qq.com

Best Regards.

[2022-05-12 13:23] Orange-wxc opened #105 "dataset request"
Dear Pathak,
I'm learning about image inpainting recently and I would like to use the Paris Street View Dataset for my Masters Dissertation.It would be thankful if you can share the Paris Street-View dataset.
My e-mail address is:  694341479@qq.com
Best Regards.

[2022-05-18 04:33] chuangchua opened #106 "dataset request"
Dear Pathak,
I'm learning about image inpainting recently and I would like to use the Paris Street View Dataset for my Masters Dissertation.It would be thankful if you can share the Paris Street-View dataset.
My e-mail address is: 320707643@qq.com
Best Regards.

[2022-05-18 07:48] qsc227 commented on #24
Hi Pathak,
I am currently working on image inpainting algorithms and trying to use different dataset. Can you share the dataset through a private link in my email address?That would be really great. Thanks.
Email:1351594605@qq.com

[2022-05-20 08:28] b04505009 commented on #24
Hello @pathak22
I am a student working on image inpainting research. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email: [xil087@ucsd.edu](xil087@ucsd.edu)

[2022-05-23 12:19] lihuangbjtu commented on #24
Hi @pathak22 ,
I am currently working on image inpainting algorothim and trying to train several model architectures. Can you share the dataset through a private link in my email address. Thanks.
Email: huangli.snnu@gmail.com

[2022-05-28 04:02] qsc227 opened #107 "dataset request"
Dear Pathak,
I'm learning about image inpainting recently and I would like to use the Paris Street View Dataset for my Masters Dissertation.It would be thankful if you can share the Paris Street-View dataset.
My e-mail address is: [1351594605@qq.com]
Best Regards.

[2022-06-19 03:08] hykai209 commented on #24
I am currently working on image inpainting algorithm and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
E-mail:1156582927@qq.com

[2022-06-19 03:08] sunyoki commented on #24
  您好，邮件已收到,感谢您的来信！
                                                      

                                                                      _末页

[2022-06-19 08:20] helathegreat opened #108 "datasets request"
Dear Pathak,
I'm learning about image inpainting recently and using the Paris Street View Dataset for my Master-Dissertation. I would be thankful if you are willing to share the Paris Street-View dataset.
My e-mail address: 2352019591@qq.com
Best Regards.

[2022-06-24 04:27] MFalam commented on #24
Hi Pathak,
I am working on image inpainting. can you please share the dataset through a private link in my email address? Thank you.
Email: afsharalam@outlook.com

[2022-06-25 09:28] mrinmoy-sadhukhan opened #109 "datasets required"
Dear Pathak,
I'm learning about image inpainting recently and using the Paris Street View Dataset for my Master-Dissertation. I would be thankful if you are willing to share the Paris Street-View dataset.
My e-mail address: mrinmoy.sadhukhan1996@gmail.com
Best Regards.

[2022-06-27 20:11] vivamoto opened #110 "File not found"
Hi Pathak,

I'm following the instructions of the Semantic Inpainting Demo. I got the error below when running the script to populate the `./models/` folder with trained models. The file `inpaintCenterModels.tar.gz` doesn't exist.

[code]

Indeed, the file doesn't exist at Berkeley website:

![image](https://user-images.githubusercontent.com/54335913/176026930-835fd6c2-3ad6-4147-b871-d33bafa3d894.

[2022-06-29 12:54] WYu-Feng commented on #102
Hello, Pashak.

I am interested in the field of image restoration and have been working on it recently. I have noticed that many researchers use Parisian Street View data sets in their painting tasks. I need to performance test my work on this data set, and I would be grateful if you could share the Paris Street View data. My E-mail address is 951353206@qq.com

Best regards.

[2022-06-29 12:55] WYu-Feng commented on #107
Hello, Pashak.

I am interested in the field of image restoration and have been working on it recently. I have noticed that many researchers use Parisian Street View data sets in their painting tasks. I need to performance test my work on this data set, and I would be grateful if you could share the **Paris Street View data**. My E-mail address is **951353206@qq.com**

Best regards.

[2022-06-29 12:55] WYu-Feng commented on #109
Hello, Pashak.

I am interested in the field of image restoration and have been working on it recently. I have noticed that many researchers use Parisian Street View data sets in their painting tasks. I need to performance test my work on this data set, and I would be grateful if you could share the **Paris Street View data**. My E-mail address is **951353206@qq.com**

Best regards.

[2022-06-29 12:57] WYu-Feng opened #111 "Dataset Request"
Hello, Pashak.

I am interested in the field of image restoration and have been working on it recently. I have noticed that many researchers use Parisian Street View data sets in their painting tasks. I need to performance test my work on this data set, and I would be grateful if you could share the **Paris Street View data**. My E-mail address is **951353206@qq.com**

Best regards.

[2022-06-30 06:11] PrasadSonu commented on #24
Hi @pathak22 ,
I am currently working on image inpainting algorithm . Can you share the dataset through a private link in my email address. Thanks.
Email: 123246369p@gmail.com

[2022-06-30 06:15] PrasadSonu commented on #24
Hi all (@hykai209 @micklexqg @sohelmsc @CVlin @Hinal3 )
I am currently working on image inpainting algorithm . Can you share the dataset through a private link in my email address. Can you please share the dataset private link.
Email: [123246369p@gmail.com](mailto:123246369p@gmail.com)

[2022-06-30 07:39] daniel9032 commented on #24
Hi @pathak22 ,
I am currently working on image inpainting algorothim and trying to train several model architectures. Can you share the dataset through a private link in my email address. Thanks.
Email: papupapu126@gmail.com

[2022-06-30 08:20] hykai209 commented on #24
Hi @pathak22 ,
I am currently working on image inpainting algorithm and trying to train several model architectures. Can you share the dataset through a private link to my email address? Thanks.
My Email is: yingkaihe402@gmail.com

[2022-07-07 03:41] zml24 commented on #24
Hi Pathak,
I am currently working on image inpainting algorothim and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
My Email is: sufezml24@gmail.com

[2022-07-07 08:46] whu-pzhang commented on #24
Hi @pathak22 ,
I am currently working on image inpainting algorithm and trying to train several model architectures. Can you share the dataset through a private link to my email address? Thanks.
My Email is: [pzhang.omega@gmail.com](mailto:pzhang.omega@gmail.com)

[2022-07-17 14:03] 1181316585 commented on #24
Hi @pathak22 ,
I am currently working on image inpainting algorithm and trying to train several model architectures. Can you share the dataset through a private link in my email address. Thanks.
Email: [1181316585@qq.com](mailto:1181316585@qq.com)

[2022-07-19 03:38] InsaneOnion commented on #24
Hello @pathak22
I am currently working on image inpainting algorithm and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
E-mail:[chenzeyu626@gmail.com](mailto:chenzeyu626@gmail.com)

[2022-09-04 08:00] xy123mjl commented on #103
Hi Pathak.
I am interested about image inpainting field. I noticed that many researches are employing Paris Street-View dataset in their inpainting tasks. It would be thankful if you can share the Paris Street-View dataset. My e-mail address is: 1627049757@qq.com

Best Regards.

[2022-09-12 09:54] derkdoel commented on #24
Hello @pathak22
I am currently working on image inpainting algorithm and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
E-mail: ddoel95@gmail.com

[2022-09-12 09:54] sunyoki commented on #24
  您好，邮件已收到,感谢您的来信！
                                                      

                                                                      _末页

[2022-09-14 15:09] PhilipLGQ commented on #24
Hi @pathak22,
I am working on an image inpainting task and trying to train and test my network architecture. Could you share the dataset link with me? Thank you very much in advance.

Email: liuguanqun0405@gmail.com

[2022-09-16 07:52] VaeFlashMe opened #112 "Dataset Request"
I am interested in the field of image restoration and have been working on it recently. I have noticed that many researchers use Parisian Street View data sets in their painting tasks. I need to performance test my work on this data set, and I would be grateful if you could share the Paris Street View data. My E-mail address is 736054972@qq.com

[2022-09-16 11:25] hunterqhq commented on #24
Hi @pathak22 ,
I am currently working on image inpainting algorothim and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email:1535144880@qq.com

[2022-09-17 06:12] julianafan commented on #24
Hello Pathak,
I am currently working on image inpainting. Can you share the dataset through a private link in my email address. Thanks.
Email:99126337@qq.com

[2022-09-30 02:18] JokererF commented on #24
Hello Pathak,
I am currently working on image inpainting. Can you share the dataset through a private link in my email address. Thanks.
Email:1053899246@qq.com

[2022-09-30 05:07] tim09888 opened #113 "Dataset request"
Dear Pathak,
I'm learning about image inpainting recently and I would like to use the Paris Street View Dataset for my Masters Dissertation.It would be thankful if you can share the Paris Street-View dataset.
My e-mail address is: tim0988829376@yahoo.com
Best Regards.

[2022-09-30 06:41] beautylalaqiu commented on #24
Hello @pathak22
I am a student working on image inpainting research. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email: 1090065642@qq.com

[2022-10-06 02:27] JokererF opened #114 "Dataset request"
Dear Pathak,
I'm learning about image inpainting recently and I would like to use the Paris Street View Dataset for my Masters Dissertation.It would be thankful if you can share the Paris Street-View dataset.
My e-mail address is: 1053899246@qq.com
Best Regards.

[2022-10-10 11:04] xskopal commented on #24
Hello @pathak22 ,
I am currently working on image inpainting algorithm and trying to train several model architectures. Can you share the dataset through a private link in my email address. That would be really great. Thanks.
Email: xskopal@fi.muni.cz

[2022-11-11 07:28] zhangmeide commented on #24
Hello Pathak,
I am currently working on image inpainting. Can you share the dataset through a private link in my email address. Thanks.
Email:[1053899246@qq.com](mailto:1960956495@qq.com)

[2022-11-11 07:28] sunyoki commented on #24
  您好，邮件已收到,感谢您的来信！
                                                      

                                                                      _末页

[2022-11-13 15:53] Jinoh-Cho commented on #24
Hello @pathak22

I am currently working on image inpainting. Can you share a private dataset link in my email address. Thanks.

Email: jinoma@postech.ac.kr

[2022-11-19 08:31] HuilaiLiang commented on #103
Hi Pathak.
I am interested about image inpainting field. I noticed that many researches are employing Paris Street-View dataset in their inpainting tasks. It would be thankful if you can share the Paris Street-View dataset. My e-mail address is: 2279753641@qq.com

[2022-11-21 11:37] HuilaiLiang opened #115 "datdaset request"
Dear Pathak,
I'm learning about image inpainting recently .It would be thankful if you can share the Paris Street-View dataset.
My e-mail address is: 2279753641@qq.com
Best Regards.